<div class="row">
	<div class="col-sm-3">
		<p class="mb-0">Full Name</p>
	</div>
	<div class="col-sm-9">
		<p class="text-muted mb-0">{{ userDto.fullName }}</p>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-sm-3">
		<p class="mb-0">Email</p>
	</div>
	<div class="col-sm-9">
		<p class="text-muted mb-0">{{ userDto.email }}</p>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-sm-3">
		<p class="mb-0">Phone</p>
	</div>
	<div class="col-sm-9">
		<p class="text-muted mb-0">{{ userDto.phoneNumber }}</p>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-sm-3">
		<p class="mb-0">Gender</p>
	</div>
	<div class="col-sm-9">
		<p class="text-muted mb-0">{{ userDto.gender == 1 ? "Male" : "Female" }}</p>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-sm-3">
		<p class="mb-0">Address</p>
	</div>
	<div class="col-sm-9">
		<p class="text-muted mb-0">{{ userDto.address }}</p>
	</div>
</div>
