<!-- Sidebar -->
<ul id="accordionSidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion h-100">
	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div>
		<div class="sidebar-brand-text mx-3">Dashboard</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0" />

	<!-- Nav Item - Pages Collapse Menu -->
	<li id="schoolManagement" class="nav-item" routerLinkActive="sidebar-item-background-selected">
		<a class="nav-link" routerLink="/content/school">
			<i
				class="sidebar-item fa-solid fa-school text-white"
				routerLinkActive="sidebar-item-content-color"
			></i>
			<span class="text-white" routerLinkActive="sidebar-item-content-color"> School Management </span>
		</a>
	</li>

	@if(isAdmin){

	<!-- Nav Item - Utilities Collapse Menu -->
	<li id="userManagement" class="nav-item" routerLinkActive="sidebar-item-background-selected">
		<a class="nav-link" routerLink="/content/users">
			<i class="sidebar-item fa-solid fa-users text-white" routerLinkActive="sidebar-item-content-color"></i>
			<span class="text-white" routerLinkActive="sidebar-item-content-color"> User Management </span>
		</a>
	</li>

	<!-- Nav Item - Pages Collapse Menu -->
	<li
		id="reminderManagement"
		class="nav-item"
		routerLinkActive="sidebar-item-background-selected"
		[routerLinkActiveOptions]="{ exact: false }"
	>
		<a class="nav-link" routerLink="/content/school/reminders">
			<i
				class="fas fa-fw fa-bullhorn text-white"
				routerLinkActive="sidebar-item-content-color"
				[routerLinkActiveOptions]="{ exact: false }"
			></i>
			<span
				class="text-white"
				routerLinkActive="sidebar-item-content-color"
				[routerLinkActiveOptions]="{ exact: false }"
				>Reminders</span
			>
		</a>
	</li>
	}

	<!-- Nav Item - Charts -->
	<li id="parentManagement" class="nav-item" routerLinkActive="sidebar-item-background-selected">
		<a class="nav-link" routerLink="/content/parent">
			<i
				class="sidebar-item fa-solid fa-people-roof text-white"
				routerLinkActive="sidebar-item-content-color"
			></i>
			<span class="text-white" routerLinkActive="sidebar-item-content-color">Parent Management</span>
		</a>
	</li>

	<!-- Nav Item - Tables -->
	<li class="nav-item" id="requestManagement">
		<a
			class="nav-link"
			href="#"
			(click)="toggleCollapse($event)"
			[attr.aria-expanded]="isCollapsed"
			aria-controls="collapseTwo"
		>
			<i class="sidebar-item fa-solid fa-envelope text-white"></i>
			<span>Request Management</span>
		</a>
		<div id="collapseTwo" [ngClass]="{ show: isCollapsed }" class="collapse" aria-labelledby="headingTwo">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Request Category:</h6>
				<a class="collapse-item" routerLink="/content/school-request/list">
					<span routerLinkActive="sidebar-item-content-color">Enrollment Request</span>
				</a>
				<a class="collapse-item" routerLink="/content/counseling-request/list">
					<span routerLinkActive="sidebar-item-content-color">Consultant Request</span>
				</a>
			</div>
		</div>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block" />

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle" (click)="toggleSideBar()"></button>
	</div>
</ul>
<!-- End of Sidebar -->
