<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Parent list</h6>
	</div>

	<div class="card-body">
		<div class="table-responsive">
			<div id="dataTableWrapper" class="dataTables_wrapper pt-1 px-1">
				<div class="row">
					<div class="col-sm-12 col-md-6"></div>

					<!-- Search -->
					<div class="col-sm-12 col-md-6">
						<div id="dataTable_filter" class="dataTables_filter text-right">
							<label>
								<div class="input-group">
									<input
										id="searchInput"
										type="text"
										class="form-control bg-light border-0 small"
										placeholder="Search for..."
										aria-label="Search"
										aria-describedby="basic-addon2"
										(input)="getAllRemindersOnInputEvent()"
									/>
									<div class="input-group-append">
										<button class="btn btn-info" type="button" (click)="onSearchButtonClick()">
											<i class="fas fa-search fa-sm"></i>
										</button>
									</div>
								</div>
							</label>
						</div>
					</div>
				</div>

				<!-- Table -->
				<div class="row">
					<table class="table table-bordered" id="dataTable" cellspacing="0">
						<thead>
							<tr>
								<th class="text-center"></th>
								<th class="text-center">Full Name</th>
								<th class="text-center">Email</th>
								<th class="text-center">Phone No.</th>
								<th class="text-center">Status</th>
							</tr>
						</thead>

						<tbody>
							@if(pageResult){

							<td colspan="8" class="text-center" *ngIf="pageResult.items?.length === 0">
								List not found
							</td>

							<tr *ngFor="let item of pageResult.items; let i = index">
								<td class="text-center">
									{{ i + startIndex }}
								</td>

								<td>
									<a [href]="'content/parent/detail/' + item.id"> {{ item.fullName }} </a>
								</td>

								<td>
									{{ item.email }}
								</td>

								<td>
									{{ item.phoneNumber }}
								</td>
								@if(item.enrollSchoolId){
								<td class="text-center">
									<span style="font-size: 14px" [className]="'badge badge-success'">
										Enrolled
									</span>
								</td>
								}@else{
								<td class="text-center">
									<span style="font-size: 14px" [className]="'badge badge-secondary'">
										Not yet Enrolled
									</span>
								</td>
								}
							</tr>
							}
						</tbody>
					</table>
				</div>

				<!-- Paging -->
				<div class="row justify-content-between">
					<div class="col-sm-12 col-md-5">
						<div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
							@if(pageResult && pageResult.items?.length!>0){ Showing
							{{ (pageResult.pageIndex! - 1) * pageResult.pageSize! + 1 }}
							to
							{{
								(pageResult.pageIndex! - 1) * pageResult.pageSize! +
									1 +
									pageResult.items!.length -
									1
							}}
							of {{ pageResult.totalRecords }} entries }
						</div>
					</div>

					<div class="col-sm-12 col-md-7">
						<div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
							<app-paging
								[pageResult]="pageResult!"
								(currentPageIndex)="getCurrentPage($event)"
							></app-paging>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
