@import url("https://fonts.cdnfonts.com/css/segoe-ui-5");

#headerImage {
	width: 45px;
	height: 45px;
}

.header-link-active {
	color: rgb(1, 107, 228);
	text-decoration: underline;
}

.custom-dropdown {
	position: absolute;
	right: 0;
	transform: translateX(-40%);
	max-height: 50vh;
	overflow-y: auto;
}

.unread-indicator {
	width: 10px;
	height: 10px;
	padding: 0px 0px 0px 4px;
	background-color: #0866ff;
	border-radius: 50%;
	position: absolute;
	top: 10%;
	right: 5%;
}

.n-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.notification-header {
	color: #000000;
	margin: 0;
}

.icon-container {
	cursor: pointer;
}

.icon-container:hover {
	background-color: #ccc;
	border-radius: 150px;
}

.custom-fa-ellipsis {
	display: inline-block;
	font-size: 20px;
	margin-right: 5px;
	padding-left: 5px;
}

.options-menu {
	position: absolute;
	background-color: #fff;
	border: 1px solid #e1e4e8;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	right: 15px;
	top: 50px;
	width: 280px;
	border-radius: 5px;
	z-index: 1000;
	color: #000000 !important;
	font-weight: bold !important;
}

.options-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.options-menu li {
	width: 100%;
	padding: 10px;
	cursor: pointer;
}

.options-menu li:hover {
	background-color: #f5f5f5;
}

.notification-tab {
	display: inline-block;
	padding: 5px 12px;
	margin: 5px;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
}

.notification-header {
	color: #050505 !important;
	font-weight: bold;
	font-size: 20px;
	font-family: "Segoe UI", sans-serif;
}

.notification-tab:hover {
	background-color: #ccc;
}

.notification-tab.active {
	background-color: #ebf5ff;
	color: #0064d1 !important;
}

.notification-tab.active:hover {
	background-color: #ccc;
}

.dropdown-item.disabled {
	pointer-events: none;
	color: #6c757d;
	background-color: #f8f9fa;
}

.notification-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px;
	position: relative;
}

.dropdown-item {
	display: flex;
	align-items: center;
	flex-grow: 1;
	text-decoration: none;
	color: inherit;
}

.mr-3 {
	margin-right: 15px;
}

.icon-circle {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.bg-primary {
	background-color: #007bff;
}

.text-white {
	color: #fff;
}

.small {
	font-size: 12px;
}

.font-weight-bold {
	font-weight: bold;
}

.options-menu a {
	display: block;
	padding: 10px;
	font-size: 14px;
	color: #0366d6;
	cursor: pointer;
	text-decoration: none;
}

.options-menu a:hover {
	background-color: #f6f8fa;
}

.options-menu a.disabled {
	color: #6a737d;
	cursor: not-allowed;
}

.border-none {
	padding-left: 0;
	border: none !important;
}

.sub-icon-container {
	cursor: pointer;
	padding: 10px;
	position: relative;
}

.sub-option-menu {
	position: absolute;
	background-color: #fff;
	border: 1px solid #e1e4e8;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	right: 15%;
	top: 10%;
	width: 180px;
	border-radius: 5px;
	z-index: 1000;
	transform-origin: top right;
}

.sub-option-menu a {
	display: block;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.sub-option-menu a:hover {
	background-color: #f6f8fa;
}

.sub-option-menu a.disabled {
	color: #6a737d;
	cursor: not-allowed;
}
