<!-- Logout modal -->
<div
	class="modal fade"
	id="logoutModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>

				<button class="btn btn-primary" data-bs-dismiss="modal" (click)="onLogoutButtonClick()">
					Logout
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Topbar -->
<nav
	role="cdb-sidebar"
	[className]="
		isDisplayMarginBottom
			? 'navbar navbar-expand navbar-light bg-white topbar static-top shadow mb-3'
			: 'navbar navbar-expand navbar-light bg-white topbar static-top shadow'
	"
>
	<!-- Sidebar Toggle (Topbar) -->
	<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3 sidebar-toggler">
		<i class="fa fa-bars"></i>
	</button>

	@if(isPublicSite){
	<span routerLinkActive="header-link-active">
		<a routerLink="/public/home" class="ms-lg-5 nav-link" style="color: #5858ec">Home page</a>
	</span>

	<span routerLinkActive="header-link-active">
		<a routerLink="school/list-school" class="ms-lg-5 nav-link" style="color: #5858ec"> Search for school </a>
	</span>
	}

	<!-- Topbar Navbar -->
	<ul class="navbar-nav ml-auto">
		<li class="nav-item dropdown no-arrow" *ngIf="isUserAuthenticated === false">
			<a
				class="nav-link dropdown-toggle"
				id="userDropdown"
				role="button"
				data-bs-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"
				routerLink="/auth/login"
			>
				<span class="mr-2 d-none d-lg-inline text-gray-600"> Login </span>
			</a>
		</li>

		<div *ngIf="isPublicSite && isUserAuthenticated === false" class="topbar-divider d-none d-sm-block"></div>

		<li class="nav-item dropdown no-arrow" *ngIf="isUserAuthenticated === false">
			<a
				class="nav-link dropdown-toggle"
				id="userDropdown"
				role="button"
				data-bs-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"
				routerLink="/auth/register"
			>
				<span class="mr-2 d-none d-lg-inline text-gray-600"> Signup </span>
			</a>
		</li>

		@if(isUserAuthenticated){
		<li class="nav-item dropdown no-arrow mx-1" clickOutside (clickOutside)="closeDropdown()">
			<a
				class="nav-link dropdown-toggle"
				id="alertsDropdown"
				role="button"
				data-bs-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"
				(click)="toggleDropdown()"
				data-bs-auto-close="false"
			>
				<i class="fas fa-bell fa-fw"></i>
				<!-- Counter - Alerts -->
				<span class="badge badge-danger badge-counter">{{ notificationCount }}</span>
			</a>
			<!-- Dropdown - Alerts -->
			<div
				class="dropdown-list dropdown-menu dropdown-menu-right shadow custom-dropdown"
				aria-labelledby="alertsDropdown"
				[class.show]="isOpen"
			>
				<div class="n-header">
					<h6 class="notification-header">Notifications</h6>
					<div class="icon-container" (click)="toggleOptions()">
						<i class="fa-solid fa-ellipsis custom-fa-ellipsis"></i>
					</div>
				</div>
				<div *ngIf="showOptions" class="options-menu">
					<ul>
						<li (click)="markAllAsRead()"><i class="fa-solid fa-check mr-2"></i> Mark all as read</li>
						<li (click)="openInNewWindow()">
							<i class="fa-solid fa-computer mr-1"></i> Open in new window
						</li>
					</ul>
				</div>
				<div class="dropdown-actions">
					<p
						class="notification-tab"
						[ngClass]="{ active: activeButton === 'all' }"
						(click)="setActiveButton('all'); loadNotifications(1, 10)"
						style="color: #000;"
					>
						All
					</p>
					<p
						class="notification-tab"
						[ngClass]="{ active: activeButton === 'unread' }"
						(click)="setActiveButton('unread'); loadUnreadNotifications(1, 10)"
						style="color: #000;"
					>
						Unread
					</p>
				</div>

				<!-- Noti Content -->
				<div *ngIf="notifications && notifications.length > 0; else noNotifications">
					<div *ngFor="let notification of notifications" class="notification-container">
						<a
							class="dropdown-item d-flex align-items-center border-none"
							style="cursor: pointer"
							(click)="navigate(notification.requestId, notification.id)"
						>
							<div class="mr-3">
								<div
									class="icon-circle"
									[ngClass]="{
										'bg-success':
											getNotificationType(notification.title) === 'Enrollment' ||
											getNotificationType(notification.title) === 'Approved' || getNotificationType(notification.title) == 'Counseling' ||
											getNotificationType(notification.title) === 'Edit'
											,
										'bg-danger':
											getNotificationType(notification.title) === 'Unenroll' ||
											getNotificationType(notification.title) === 'Rejected'
									}"
								>
									<i
										class="fa-solid"
										[ngClass]="{
											'fa-check text-white':
												getNotificationType(notification.title) === 'Enrollment' ||
												getNotificationType(notification.title) === 'Approved',
											'fa-xmark text-white':
												getNotificationType(notification.title) === 'Unenroll' ||
												getNotificationType(notification.title) === 'Rejected'
										}"
										style="color: #000;"
									></i>
								</div>
							</div>
							<div>
								<div class="small text-gray-500">
									{{ notification.date | date : "MMMM d, y, h:mm:ss a" }}
								</div>
								<span class="font-weight-bold" style="color: #000;">{{ notification.title }}</span>
								<div style="color: #000000;">{{ notification.content }}</div>
								<div *ngIf="!notification.isOpen" class="unread-indicator"></div>
							</div>
						</a>

						<div class="sub-icon-container" (click)="toggleSubOptions(notification.id)">
							<i class="fa-solid fa-ellipsis-vertical custom-fa-ellipsis"></i>
						</div>

						<div *ngIf="notification.showOptions" class="sub-option-menu">
							<a (click)="markAsRead(notification.id)" [class.disabled]="notification.isOpen">
								<i class="fa-solid fa-check mr-2"></i> Mark as Read
							</a>
							<a (click)="deleteNotification(notification.id)">
								<i class="fa-solid fa-delete-left mr-2" style="color: #000000"></i>
								Delete</a
							>
						</div>
					</div>
				</div>
				<ng-template #noNotifications>
					<p class="text-center">You have no notification</p>
				</ng-template>
			</div>
		</li>

		<!-- Nav Item - User Information -->
		<li class="nav-item dropdown no-arrow">
			<a
				class="nav-link dropdown-toggle"
				id="userDropdown"
				role="button"
				data-bs-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"
			>
				<span class="mr-2 d-none d-lg-inline text-gray-600"> {{ userName }} </span>
				<img id="headerImage" class="img-profile rounded-circle" [src]="base64Image" />
			</a>

			<!-- Dropdown - User Information -->
			<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
				@if(role === 'Parents'){
				<a class="dropdown-item" href="/public/user/my-profile">
					<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
					Profile
				</a>

				<a class="dropdown-item" href="/public/user/my-request">
					<i class="fa-solid fa-book fa-sm fa-fw mr-2 text-gray-400"></i>
					My Request
				</a>
				<div class="dropdown-divider"></div>
				}

				<button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">
					<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
					Logout
				</button>
			</div>
		</li>
		}
	</ul>
</nav>
<!-- End of Topbar -->
