<div id="wrapper">
	<app-sidebar (onItemClick)="onSidebarItemClick($event)" />

	<div id="content-wrapper" class="d-flex flex-column">
		<div id="content">
			<app-header> </app-header>

			<div class="container-fluid">
				<app-breadcrumb
					[breadcrumbComposite]="breadcrumbComposite"
					[breadcrumbManagementName]="breadcrumbManagementName"
				/>
				<div id="contentPage">
					<router-outlet (activate)="onActivate($event)" />
				</div>
			</div>
		</div>
	</div>
</div>
