<!-- Table -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Request List</h6>
	</div>

	<div class="card-body">
		<div class="table-responsive">
			<div id="dataTable_wrapper" class="dataTables_wrapper pt-1 px-1">
				<div class="row mb-3">
					<div class="col-sm-12 col-md-6">
						<button class="btn btn-dark" (click)="openConfirmModal()">
							<i class="fa-regular fa-trash-can"></i>
						</button>
					</div>

					<!-- Search -->
					<div class="col-sm-12 col-md-6">
						<div id="dataTable_filter" class="dataTables_filter text-right ">
								<div class="input-group">
									<input
										id="searchInput"
										type="text"
										class="form-control bg-light border-0 small"
										placeholder="Search for FullName, Email, Phone..."
										aria-label="Search"
										aria-describedby="basic-addon2"
									/>
									<div class="input-group-append">
										<button class="btn btn-info" type="button" (click)="onSearchButtonClick()">
											<i class="fas fa-search fa-sm"></i>
										</button>
									</div>
								</div>
						</div>
					</div>
				</div>
				<!-- Table -->
				<div class="row">
					<table class="table table-bordered" id="dataTable" cellspacing="0">
						<thead>
							<tr>
								<th class="text-center">
									<input type="checkbox" (change)="toggleAll($event)" />
								</th>
								<th class="text-center">#</th>
								<th class="text-center" (click)="onSort('fullName')" style="cursor: pointer">
									Full Name
									<i
										class="fa"
										[ngClass]="{
											'fa-sort': sortBy !== 'fullName',
											'fa-sort-up': sortBy === 'fullName' && sortDirection === 'asc',
											'fa-sort-down': sortBy === 'fullName' && sortDirection === 'desc'
										}"
									></i>
								</th>
								<th class="text-center" (click)="onSort('email')" style="cursor: pointer">
									Email
									<i
										class="fa"
										[ngClass]="{
											'fa-sort': sortBy !== 'email',
											'fa-sort-up': sortBy === 'email' && sortDirection === 'asc',
											'fa-sort-down': sortBy === 'email' && sortDirection === 'desc'
										}"
									></i>
								</th>
								<th class="text-center" (click)="onSort('phone')" style="cursor: pointer">
									Phone No.
									<i
										class="fa"
										[ngClass]="{
											'fa-sort': sortBy !== 'phone',
											'fa-sort-up': sortBy === 'phone' && sortDirection === 'asc',
											'fa-sort-down': sortBy === 'phone' && sortDirection === 'desc'
										}"
									></i>
								</th>
								<th class="text-center" style="cursor: pointer">
									<select
										id="statusFilter"
										class="form-control"
										(change)="onStatusFilterChange($event)"
									>
										<option value="">Status</option>
										<option *ngFor="let status of schoolRequestStatuses" [value]="status">
											{{ status }}
										</option>
									</select>
								</th>
								<th class="text-center" (click)="onSort('createAt')" style="cursor: pointer">
									Date Created
									<i
										class="fa"
										[ngClass]="{
											'fa-sort': sortBy !== 'createAt',
											'fa-sort-up': sortBy === 'createAt' && sortDirection === 'asc',
											'fa-sort-down': sortBy === 'createAt' && sortDirection === 'desc'
										}"
									></i>
								</th>
								<th class="text-center">Mark as resolve</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="pageResult?.items?.length === 0">
								<td colspan="8" class="text-center">Not found!</td>
							</tr>
							<tr *ngFor="let data of pageResult?.items; let i = index">
								<td class="text-center">
									<input type="checkbox" [(ngModel)]="data.selected" />
								</td>
								<td class="text-center">{{ i + startIndex }}</td>
								<td class="text-center">{{ data.fullName }}</td>
								<td class="text-center">{{ data.email }}</td>
								<td class="text-center">{{ data.phone }}</td>
								<td class="text-center">{{ getStatusName(data.schoolRequestStatusId) }}</td>
								<td class="text-center">{{ data.createAt | date }}</td>
								<td class="text-center">
									<button
										type="button"
										class="btn btn-sm btn-info m-1"
										(click)="markAsResolvedNavigate(data.id)"
									>
										<i class="fa-regular fa-square-check"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="row">
					<!-- Paging -->
					<div class="row justify-content-between">
						<div class="col-sm-12 col-md-5">
							<div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
								<app-show-entry [pageResult]="pageResult" />
							</div>
						</div>
						<div class="col-sm-12 col-md-7">
							<div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
								<app-paging
									[pageResult]="pageResult!"
									(currentPageIndex)="getCurrentPage($event)"
								></app-paging>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-confirm-modal (onButtonClickEvent)="deleteSelected()"></app-confirm-modal>
