<div class="row justify-content-center">
	<div class="col-xl-8 col-lg-8 col-md-6">
		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div>
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">Login into your account</h1>
							</div>
							<hr />
							<form class="user" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
								<div class="form-group">
									<label for="exampleInputEmail" class="form-label"> Email Address </label>

									<div class="input-group">
										<input
											type="email"
											class="form-control form-control-lg"
											id="exampleInputEmail"
											aria-describedby="emailHelp"
											placeholder="Enter Email Address..."
											name="email"
											[formControl]="loginForm.controls.email"
										/>
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroupPrepend2">
												<i class="fas fa-envelope"></i>
											</span>
										</div>
									</div>

									<div
										class="text-danger"
										*ngIf="
											loginForm.controls.email.hasError('required') &&
											loginForm.controls.email.touched
										"
									>
										Email is required
									</div>

									<div class="text-danger" *ngIf="loginForm.controls.email.hasError('email')">
										Invalid email format
									</div>
								</div>

								<!-- Password -->
								<div class="form-group">
									<label for="exampleInputPassword" class="form-label"> Password </label>
									<div class="input-group">
										<input
											type="password"
											class="form-control form-control-lg"
											id="exampleInputPassword"
											placeholder="Password"
											[formControl]="loginForm.controls.password"
											autocomplete="on"
										/>
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroupPrepend2">
												<i class="fas fa-lock"></i>
											</span>
										</div>
									</div>

									<div
										class="text-danger"
										*ngIf="
											loginForm.controls.password.hasError('required') &&
											loginForm.controls.password.touched
										"
									>
										Password is required
									</div>
								</div>

								<div class="text-end">
									<a class="" href="auth/forgot-password">Forgot Password?</a>
								</div>
								<hr />
								<div class="row">
									<div class="col-md-6">
										<a routerLink="/public/home" class="btn btn-user btn-secondary btn-block">
											Cancel
										</a>
									</div>
									<div class="col-md-6">
										<button type="submit" class="btn btn-primary btn-user btn-block">
											Login
										</button>
									</div>
								</div>
							</form>
							<hr />

							<div class="text-center">
								You don't have an account?
								<a href="auth/register">Create an Account!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
