.rating-list li {
	float: right;
	color: #ddd;
	padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover ~ li {
	color: #ffd700;
}

.rating-list {
	display: inline-block;
	list-style: none;
}

.rating-list li.selected {
	color: #ffd700;
}

.no-margin-bottom {
	margin-bottom: 0px !important;
}
