<app-modal
	[buttonText]="buttonText()"
	[modalTitle]="modalTitle()"
	[modalConfirmQuestion]="modalConfirmQuestion()"
	[buttonColor]="isCancelButtonClick() ? 'btn-danger' : 'btn-primary'"
	(onButtonClickEvent)="isCancelButtonClick() ? onCancelButtonClick() : onSubmitForm()"
></app-modal>

<div style="padding-left: 350px !important; padding-right: 350px !important; margin-top: 10px">
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Rating and feedback school</h6>
		</div>

		<form class="px-5">
			<!-- Facilities and utilities -->
			<div class="form-group row align-items-center no-margin-bottom">
				<div class="col-sm-5 mb-3 mb-sm-0 ps-5 fw-bolder fw-bolder">Learning program</div>

				<div class="col-sm-7 pt-2">
					<ul
						class="list-inline rating-list"
						style="display: inline-block"
						*ngFor="let star of [1, 2, 3, 4, 5]"
					>
						<li
							(click)="learningProgramSelectedValue = star"
							[ngClass]="{
								selected: star <= learningProgramSelectedValue
							}"
						>
							<i class="fa fa-star"></i>
						</li>
					</ul>
				</div>
			</div>

			<!-- Facilities and utilities -->
			<div class="form-group row align-items-center no-margin-bottom">
				<div class="col-sm-5 mb-3 mb-sm-0 ps-5 fw-bolder fw-bolder">Facilities and Utilities</div>

				<div class="col-sm-7 pt-2">
					<ul
						class="list-inline rating-list"
						*ngFor="let star of [1, 2, 3, 4, 5]"
						style="display: inline-block"
					>
						<li
							(click)="facilityAndUtilitySelectedValue = star"
							[ngClass]="{
								selected: star <= facilityAndUtilitySelectedValue
							}"
						>
							<i class="fa fa-star"></i>
						</li>
					</ul>
				</div>
			</div>

			<!-- Extracurricular Activities -->
			<div class="form-group row align-items-center no-margin-bottom">
				<div class="col-sm-5 mb-3 mb-sm-0 ps-5 fw-bolder fw-bolder">Extracurricular Activities</div>

				<div class="col-sm-7 pt-2">
					<ul
						class="list-inline rating-list"
						*ngFor="let star of [1, 2, 3, 4, 5]"
						style="display: inline-block"
					>
						<li
							(click)="extracurricularActivitiesSelectedValue = star"
							[ngClass]="{
								selected: star <= extracurricularActivitiesSelectedValue
							}"
						>
							<i class="fa fa-star"></i>
						</li>
					</ul>
				</div>
			</div>

			<!-- Teacher and Staff -->
			<div class="form-group row align-items-center no-margin-bottom">
				<div class="col-sm-5 mb-3 mb-sm-0 ps-5 fw-bolder fw-bolder">Teacher and Staff</div>

				<div class="col-sm-7 pt-2">
					<ul
						class="list-inline rating-list"
						*ngFor="let star of [1, 2, 3, 4, 5]"
						style="display: inline-block"
					>
						<li
							(click)="teacherAndStaffSelectedValue = star"
							[ngClass]="{
								selected: star <= teacherAndStaffSelectedValue
							}"
						>
							<i class="fa fa-star"></i>
						</li>
					</ul>
				</div>
			</div>

			<!-- Hygiene and Nutrition -->
			<div class="form-group row align-items-center no-margin-bottom">
				<div class="col-sm-5 mb-3 mb-sm-0 ps-5 fw-bolder fw-bolder">Hygiene and Nutrition</div>

				<div class="col-sm-7 pt-2">
					<ul
						class="list-inline rating-list"
						*ngFor="let star of [1, 2, 3, 4, 5]"
						style="display: inline-block"
					>
						<li
							(click)="hygieneAndNutritionSelectedValue = star"
							[ngClass]="{
								selected: star <= hygieneAndNutritionSelectedValue
							}"
						>
							<i class="fa fa-star"></i>
						</li>
					</ul>
				</div>
			</div>

			<div class="form-group row align-items-center no-margin-bottom justify-content-between">
				<div class="col-sm-10 mx-auto">
					<div class="mb-3">
						<label for="exampleFormControlTextarea1" class="form-label">Feedback</label>
						<textarea
							[(ngModel)]="feedback"
							[ngModelOptions]="{ standalone: true }"
							class="form-control"
							id="exampleFormControlTextarea1"
							rows="3"
						></textarea>
					</div>
					<div class="mt-2 text-center text-danger" *ngIf="isInvalidForm">
						Can not submit with no rating and feedback, must have star or feedback
					</div>
				</div>
			</div>

			<!-- Buttons -->
			<div class="form-group row align-items-center no-margin-bottom pb-3">
				<div class="col-sm-3 mb-3 mb-sm-0 ps-5"></div>

				<div class="col-sm-9 pt-2">
					<button
						type="button"
						data-bs-toggle="modal"
						data-bs-target="#modalConfirm"
						(click)="isCancelButtonClick.set(true)"
						class="btn btn-outline-primary fw-bolder"
					>
						Cancel
					</button>

					<button type="button" class="btn btn-secondary ms-3 fw-bolder" (click)="onResetButtonClick()">
						Reset
					</button>

					<button
						type="button"
						data-bs-toggle="modal"
						data-bs-target="#modalConfirm"
						class="btn btn-primary ms-3 fw-bolder"
						(click)="isCancelButtonClick.set(false)"
					>
						Submit
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
