<!-- Create modal -->

<app-modal
	[buttonText]="buttonText"
	[modalTitle]="modalTitle"
	[modalConfirmQuestion]="modalConfirmQuestion"
	[buttonColor]="isCancelButtonClick() ? 'btn-danger' : 'btn-primary'"
	(onButtonClickEvent)="isCancelButtonClick() ? onCancelButtonClick() : onSubmitForm()"
></app-modal>

<!-- Form -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Create school</h6>
	</div>

	<div class="card-body px-5">
		<form [formGroup]="createSchoolForm">
			<!-- School name -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder fw-bolder">
					School Name <span class="text-danger">*</span>
				</div>

				<div class="col-sm-8">
					<input
						type="text"
						class="form-control form-control-user"
						placeholder="Enter School Name here"
						[formControl]="createSchoolForm.controls.schoolName"
					/>

					<!-- Error msg -->
					<div class="text-danger">
						@if(createSchoolForm.controls.schoolName.hasError('required') &&
						createSchoolForm.controls.schoolName.touched){

						<div>School Name is required</div>
						}
					</div>
				</div>
			</div>

			<!-- School type -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">
					School Type <span class="text-danger">*</span>
				</div>

				<div class="col-sm-8">
					<select
						class="form-control form-control-user"
						[formControl]="createSchoolForm.controls.schoolTypeId"
					>
						<option value="" selected disabled>Select a category</option>
						@for (item of types; track $index) {
						<option [value]="item.id">{{ item.name }}</option>
						}
					</select>

					<!-- Error msg -->
					<div class="text-danger">
						@if(createSchoolForm.controls.schoolTypeId.hasError('required') &&
						createSchoolForm.controls.schoolTypeId.touched){

						<div>School Type is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Address -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Address <span class="text-danger">*</span></div>

				<div class="col-sm-8">
					<input
						type="text"
						class="form-control form-control-user"
						placeholder="Enter School Address here"
						[formControl]="createSchoolForm.controls.specificAddress"
					/>

					<!-- Error msg -->
					<div class="text-danger">
						@if(createSchoolForm.controls.specificAddress.hasError('required') &&
						createSchoolForm.controls.specificAddress.touched){

						<div>School address is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Province/City -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder"></div>

				<div class="col-sm-8">
					<ngx-select
						placeholder="City/Province"
						[allowClear]="true"
						[keepSelectedItems]="true"
						optionValueField="code"
						optionTextField="name"
						[items]="(provinceList | async)!"
						[formControl]="createSchoolForm.controls.provinceId"
					>
					</ngx-select>

					<!-- Error msg -->
					<div class="text-danger">
						@if(createSchoolForm.controls.provinceId.hasError('required') &&
						createSchoolForm.controls.provinceId.touched){

						<div>School province is required</div>
						}
					</div>
				</div>
			</div>

			<!-- District -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder"></div>

				<div class="col-sm-8">
					<ngx-select
						placeholder="District"
						[allowClear]="true"
						[keepSelectedItems]="true"
						optionValueField="code"
						optionTextField="name"
						[items]="(districtList | async)!"
						[formControl]="createSchoolForm.controls.districtId"
					>
					</ngx-select>

					<!-- Error msg -->
					<div class="text-danger">
						@if(createSchoolForm.controls.districtId.hasError('required') &&
						createSchoolForm.controls.districtId.touched){

						<div>School district is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Ward -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder"></div>

				<div class="col-sm-8">
					<ngx-select
						placeholder="Ward"
						[allowClear]="true"
						[keepSelectedItems]="true"
						optionValueField="code"
						optionTextField="name"
						[items]="(wardList | async)!"
						[formControl]="createSchoolForm.controls.wardId"
					>
					</ngx-select>

					<!-- Error msg -->
					<div class="text-danger">
						@if(createSchoolForm.controls.wardId.hasError('required') &&
						createSchoolForm.controls.wardId.touched){

						<div>School ward is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Email -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Email <span class="text-danger">*</span></div>

				<div class="col-sm-8">
					<input
						type="email"
						class="form-control form-control-user"
						placeholder="Enter School Email here"
						[formControl]="createSchoolForm.controls.email"
					/>

					<!-- Error msg -->
					<div class="text-danger">
						@if(createSchoolForm.controls.email.hasError('required') &&
						createSchoolForm.controls.email.touched){

						<div>School email is required</div>
						} @if(createSchoolForm.controls.email.hasError('email')){

						<div>School email is invalid format</div>
						}
					</div>
				</div>
			</div>

			<!-- Phone -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Phone <span class="text-danger">*</span></div>

				<div class="col-sm-8">
					<input
						type="tel"
						class="form-control form-control-user"
						placeholder="Enter School phone here"
						[formControl]="createSchoolForm.controls.phone"
					/>

					<!-- Error msg -->
					<div class="text-danger">
						@if(createSchoolForm.controls.phone.hasError('required') &&
						createSchoolForm.controls.phone.touched){

						<div>School phone is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Child Receiving Age -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">
					Child-receiving age <span class="text-danger">*</span>
				</div>

				<div class="col-sm-8">
					<select
						class="form-control form-control-user"
						[formControl]="createSchoolForm.controls.childReceivingAgeId"
					>
						<option value="" disabled selected>Select a category</option>

						<option value="a4492e54-ac55-44a5-8876-97b8515e062a">6 Month - 1 Year</option>

						<option value="91654d6c-ca93-4660-b3e5-d360ea2dac70">1 Year - 3 Year</option>

						<option value="9e973afb-7182-44da-b90a-4ef5c0a66bfb">3 Year - 6 Year</option>
					</select>

					<!-- Error msg -->
					<div class="text-danger">
						@if(createSchoolForm.controls.childReceivingAgeId.hasError('required') &&
						createSchoolForm.controls.childReceivingAgeId.touched){

						<div>School child receiving age is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Education Method -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">
					Education Method <span class="text-danger">*</span>
				</div>

				<div class="col-sm-8">
					<select
						class="form-control form-control-user"
						[formControl]="createSchoolForm.controls.educationMethodId"
					>
						<option value="" disabled selected>Select a category</option>

						@for (item of educationMethods; track $index) {
						<option [value]="item.id">{{ item.name }}</option>
						}
					</select>

					<!-- Error msg -->
					<div class="text-danger">
						@if(createSchoolForm.controls.educationMethodId.hasError('required') &&
						createSchoolForm.controls.educationMethodId.touched){

						<div>School education method is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Languages -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Language <span class="text-danger">*</span></div>

				<div class="col-sm-8">
					<select
						class="form-control form-control-user"
						[formControl]="createSchoolForm.controls.languageId"
					>
						<option value="" disabled selected>Select a category</option>

						@for (item of languages; track $index) {
						<option [value]="item.id">{{ item.name }}</option>
						}
					</select>

					<!-- Error msg -->
					<div class="text-danger">
						@if(createSchoolForm.controls.languageId.hasError('required') &&
						createSchoolForm.controls.languageId.touched){

						<div>School language is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Fee -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">
					Fee/month (VND) <span class="text-danger">*</span>
				</div>

				<div class="col-sm-8 row justify-content-between">
					<!-- Fee from -->
					<div class="col-sm-6 row align-items-center">
						<div class="col-sm-4 fw-bolder text-end">From</div>

						<div class="col-sm-8">
							<input
								min="0"
								type="number"
								class="form-control form-control-user"
								[formControl]="createSchoolForm.controls.feeFrom"
							/>

							<!-- Error msg -->
							<div class="text-danger">
								@if(createSchoolForm.controls.feeFrom.hasError('required') &&
								createSchoolForm.controls.feeFrom.touched){

								<div>School fee from is required</div>
								} @if(createSchoolForm.controls.feeFrom.hasError('min')){
								<div>Min school fee from is 1</div>
								}
							</div>
						</div>
					</div>

					<!-- Fee to -->
					<div class="col-sm-6 row align-items-center">
						<div class="col-sm-4 fw-bolder text-end">To</div>

						<div class="col-sm-8">
							<input
								min="0"
								type="number"
								class="form-control form-control-user"
								[formControl]="createSchoolForm.controls.feeTo"
							/>

							<!-- Error msg -->
							<div class="text-danger">
								@if(createSchoolForm.controls.feeTo.hasError('required') &&
								createSchoolForm.controls.feeTo.touched){

								<div>School fee to is required</div>
								} @if(createSchoolForm.controls.feeTo.hasError('min')){

								<div>Min school fee to is 1</div>
								} @if(createSchoolForm.getError('feeRange')){

								<span>Fee to must greater than fee from</span>
								}
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Facilities -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Facilities</div>

				<div class="col-sm-8 row">
					@for (item of facilities; track $index) {
					<div class="col-sm-4 col">
						<div class="form-check">
							<input
								class="form-check-input"
								type="checkbox"
								[id]="item.id"
								[value]="item.id"
								[formControl]="createSchoolForm.controls.facilityIDs.controls[$index]"
							/>
							<label class="form-check-label" [for]="item.id">
								{{ item.name }}
							</label>
						</div>
					</div>
					}
				</div>
			</div>

			<!-- Utilities -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Utilities</div>

				<div class="col-sm-8 row">
					@for (item of utilities; track $index) {
					<div class="col-sm-4 col">
						<div class="form-check">
							<input
								class="form-check-input"
								type="checkbox"
								[id]="item.id"
								[value]="item.id"
								[formControl]="createSchoolForm.controls.utilityIDs.controls[$index]"
							/>
							<label class="form-check-label" [for]="item.id">
								{{ item.name }}
							</label>
						</div>
					</div>
					}
				</div>
			</div>

			<!-- School Introduction -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">School Introduction</div>

				<div class="col-sm-8">
					<ckeditor
						[editor]="editor"
						[formControl]="createSchoolForm.controls.schoolIntroduce"
					></ckeditor>
				</div>
			</div>

			<!-- School Images -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">School Image</div>

				<div class="col-sm-8">
					<input
						multiple
						type="file"
						id="createImageForm"
						class="form-control"
						(change)="addEventChangeToInputImageField($event)"
					/>
				</div>
			</div>

			<!-- Buttons -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5"></div>

				<div class="col-sm-8">
					<button
						type="button"
						data-bs-toggle="modal"
						data-bs-target="#modalConfirm"
						class="btn btn-outline-primary fw-bolder"
						(click)="isCancelButtonClick.set(true); isSavedAsDraft.set(false)"
					>
						Cancel
					</button>

					@if(role === 'SchoolOwner'){
					<button
						type="button"
						[attr.data-bs-toggle]="createSchoolForm.valid ? 'modal' : null"
						[attr.data-bs-target]="createSchoolForm.valid ? '#modalConfirm' : null"
						(click)="isSavedAsDraft.set(true); isCancelButtonClick.set(false); triggerAllFormError()"
						class="btn btn-primary ms-3 fw-bolder"
					>
						Save draft
					</button>
					}

					<button
						type="button"
						[attr.data-bs-toggle]="createSchoolForm.valid ? 'modal' : null"
						[attr.data-bs-target]="createSchoolForm.valid ? '#modalConfirm' : null"
						(click)="isSavedAsDraft.set(false); isCancelButtonClick.set(false); triggerAllFormError()"
						class="btn btn-primary ms-3 fw-bolder"
					>
						Submit
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
