<div class="p-3 py-5">
	<div class="experience">
		<div>My Enrolled School</div>
		<hr />
		@if(userDto.enrollSchoolId){
		<a [href]="'/public/school/detail?id=' + userDto.enrollSchoolId" class="card">
			@if(schoolDto.images){

			<img [src]="imageUrl(schoolDto.images[0])" [alt]="schoolDto.schoolName" />
			}
			<div class="card-body text-center">
				{{ schoolDto.schoolName }}
			</div>
		</a>
		<hr />
		}

		<a class="border px-3 p-1 btn btn-outline-primary text-decoration-none" href="public/school/list-school">
			<i class="fa fa-search"></i>&nbsp;Search for school
		</a>
	</div>
	<br />
</div>
