<div *ngIf="isShow" class="modal-overlay">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Unenrollment request</h5>
			<button type="button" class="close" (click)="close()">×</button>
		</div>
		<div class="modal-body">
			<p>Please check your details below and confirm to submit the request.</p>
			<form [formGroup]="form" (ngSubmit)="submit()">
				<div class="form-group">
					<label for="fullName">Full Name</label>
					<input id="fullName" class="form-control" type="text" [formControl]="form.controls.fullName" />
				</div>

				<div class="form-group">
					<label for="email">Email address</label>
					<input
						id="email"
						class="form-control"
						type="email"
						[formControl]="form.controls.email"
						placeholder="info@xyz.com"
					/>
					<div
						*ngIf="form.controls.email.touched && form.controls.email.hasError('required')"
						class="text-danger"
					>
						Valid email is required.
					</div>

					<div *ngIf="form.controls.email.hasError('email')" class="text-danger">
						Invalid email format.
					</div>
				</div>

				<div class="form-group">
					<label for="dob">Date of birth</label>
					<input id="dob" class="form-control" type="date" [formControl]="form.controls.dob" />
				</div>

				<div class="form-group">
					<label for="mobileNo">Mobile No.</label>
					<input
						id="mobileNo"
						class="form-control"
						type="text"
						[formControl]="form.controls.phoneNumber"
					/>
				</div>

				<div class="form-group">
					<label for="address">Address</label>
					<input id="address" class="form-control" type="text" [formControl]="form.controls.address" />

					<div
						*ngIf="form.controls.address.touched && form.controls.address.hasError('required')"
						class="text-danger"
					>
						Valid address is required.
					</div>
				</div>

				<div class="form-group">
					<label for="enrolledSchool">Enrolled School</label>
					<input
						id="enrolledSchool"
						class="form-control"
						type="text"
						[formControl]="form.controls.enrolledSchool"
					/>
				</div>

				<div class="form-group">
					<label for="inquiry">Unenroll Reason</label>
					<!-- <textarea
						id="inquiry"
						class="form-control"
						[formControl]="form.controls.inquiry"
						placeholder="Enter your enrollment content details"
						maxlength="4000"
					></textarea> -->
					<ckeditor [editor]="editor" [formControl]="form.controls.inquiry"></ckeditor>
					<div
						*ngIf="form.controls.inquiry.touched && form.controls.inquiry.hasError('required')"
						class="text-danger"
					>
						Valid content is required.
					</div>
				</div>

				<p class="instruction">
					Our staff will contact you within 24 hrs. If you need urgent assistance, please contact us via
					our hotline <a href="/">0968242456</a>
				</p>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
