<div
	class="modal fade"
	id="modalConfirm"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					{{ modalTitle }}
				</h5>
				<button
					class="close"
					type="button"
					data-bs-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">×</span>
				</button>
			</div>

			<div class="modal-body">{{ modalConfirmQuestion }}</div>

			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal"
				>
					Cancel
				</button>

				<button
					data-bs-dismiss="modal"
					[className]="'btn ' + buttonColor"
					(click)="onButtonClick()"
				>
					{{ buttonText }}
				</button>
			</div>
		</div>
	</div>
</div>
