<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h5 style="display: inline-block" class="m-0 font-weight-bold text-primary">Request Detail</h5>
		<span class="badge rounded-pill bg-primary p-2 mr-1 ml-3">
			{{ getCategoryName(schoolRequest.schoolRequestCategoryId) }}
		</span>
		<span class="badge rounded-pill bg-primary p-2 m-1">
			{{ getStatusName(schoolRequest.schoolRequestStatusId) }}
		</span>
	</div>
	<div class="card-body px-5" *ngIf="isSchoolRequestValid; else resolvedMessage">
		<form>
			<div class="form-row">
				<label for="fullName" class="form-label">Full Name</label>
				<input
					type="text"
					class="form-control"
					id="fullName"
					[(ngModel)]="schoolRequest.fullName"
					name="fullName"
					disabled
				/>
			</div>

			<div class="form-row">
				<label for="email" class="form-label">Email</label>
				<input
					type="email"
					class="form-control"
					id="email"
					[(ngModel)]="schoolRequest.email"
					name="email"
					disabled
				/>
			</div>

			<div class="form-row">
				<label for="phone" class="form-label">Phone No.</label>
				<input
					type="text"
					class="form-control"
					id="phone"
					[(ngModel)]="schoolRequest.phone"
					name="phone"
					disabled
				/>
			</div>

			<div class="form-row">
				<label for="address" class="form-label">Address</label>
				<input
					type="text"
					class="form-control"
					id="address"
					[(ngModel)]="schoolRequest.address"
					name="address"
					disabled
				/>
			</div>

			<div class="form-row">
				<label for="requestedSchool" class="form-label">Requested School</label>
				<input
					type="text"
					class="form-control"
					id="requestedSchool"
					[(ngModel)]="schoolRequest.school.schoolName"
					name="requestedSchool"
					disabled
				/>
			</div>

			<div class="form-row textarea-row">
				<label for="requestContent" class="form-label">Content</label>
				<p class="form-control" [innerHTML]="schoolRequest.content"></p>
			</div>

			<div class="form-row textarea-row">
				<label for="response" class="form-label">School Owner Response</label>
				<!-- <textarea
					class="form-control"
					id="response"
					rows="3"
					[(ngModel)]="schoolOwnerResponse"
					name="response"
					[disabled]="!isEditable"
				></textarea> -->

				<ckeditor [editor]="editor"  name="schoolOwnerResponse" [(ngModel)]="schoolOwnerResponse" [disabled]="!isEditable"></ckeditor>
			</div>

			<div class="form-row" *ngIf="getCategoryName(schoolRequest.schoolRequestCategoryId) !== 'Consultant'">
				<label class="form-label">Status</label>
				<div class="form-check mr-5">
					<input
						class="form-check-input"
						type="radio"
						name="status"
						id="approved"
						value="Approved"
						[(ngModel)]="selectedStatus"
						[disabled]="!isEditable"
					/>
					<label class="form-check-label" for="approved">Approved</label>
				</div>
				<div class="form-check">
					<input
						class="form-check-input"
						type="radio"
						name="status"
						id="rejected"
						value="Rejected"
						[(ngModel)]="selectedStatus"
						[disabled]="!isEditable"
					/>
					<label class="form-check-label" for="rejected">Rejected</label>
				</div>
			</div>

			<div
				*ngIf="
					schoolRequest.resolveCount < 2 ||
					getCategoryName(schoolRequest.schoolRequestCategoryId) === 'Consultant'
				"
			>
				<button *ngIf="!isEditable" type="button" class="btn btn-primary" (click)="editRequest()">
					Edit
				</button>
				<button *ngIf="isEditable" type="button" class="btn btn-primary" (click)="openConfirmModal()">
					{{ isEdit ? "Mark as edit resolved" : "Mark as resolved" }}
				</button>
			</div>
		</form>
	</div>
</div>
<ng-template #resolvedMessage>
	<p>Request has no exists.</p>
</ng-template>

<app-confirm-modal
	[buttonText]="isEdit ? 'Mark as edit resolved' : 'Mark as resolved'"
	[modalTitle]="'Confirm Action'"
	[modalConfirmQuestion]="'Are you sure you want to mark as resolved?'"
	(onButtonClickEvent)="markAsResolved()"
></app-confirm-modal>
