.form-row {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.form-row .form-label {
	flex: 0 0 30%;
	max-width: 30%;
}

.form-row .form-control, ckeditor {
	flex: 1;
}
.form-row.textarea-row{
	align-items: flex-start !important;
}

.form-row.textarea-row .form-label, .ckedt {
	padding-top: 0.375rem;
}

