<div id="schoolImageCarousel" class="carousel slide">
	<div class="carousel-indicators">
		@for (item of schoolDetail.images; track $index){

		<button
			type="button"
			data-bs-target="#schoolImageCarousel"
			[attr.data-bs-slide-to]="$index"
			aria-current="true"
			[class]="$index === 0 ? 'active' : ''"
			aria-label="Slide 1"
		></button>
		}
	</div>

	<div class="carousel-inner">
		@for (item of schoolDetail.images; track $index) {

		<div [className]="$index === 0 ? 'carousel-item active' : 'carousel-item'">
			<img [src]="'data:image/jpeg;base64,' + item" class="d-block w-100" alt="No image available" />
		</div>
		}
	</div>

	@if(schoolDetail.images?.length! > 1){
	<button class="carousel-control-prev" type="button" data-bs-target="#schoolImageCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#schoolImageCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
	}
</div>

<div id="publicSchoolDetail" class="container">
	<div class="card p-0 shadow">
		<div class="card-body">
			<div>
				<h5 class="card-title fw-bold">{{ schoolDetail.schoolName }} School</h5>
				<div class="row">
					<!-- Label col 1 -->
					<div class="col-3">
						<p>
							<i class="fa-solid fa-location-dot"></i>
							<strong>Address:</strong>
						</p>
						<p>
							<i class="fa-solid fa-envelope"></i>
							<strong>Email:</strong>
						</p>

						<p>
							<i class="fa-solid fa-phone"></i>
							<strong>Contact:</strong>
						</p>

						<!-- <p>
							<i class="fa-solid fa-earth-americas"></i>
							<strong>Website:</strong> <a href="#"></a>
						</p> -->

						<p>
							<i class="fa-solid fa-dollar-sign"></i>
							<strong>Tuition fee:</strong>
						</p>

						<p>
							<i class="fa-solid fa-book"></i>
							<strong>Admission age:</strong>
						</p>

						<p>
							<i class="fa-solid fa-school"></i>
							<strong>School type:</strong>
						</p>
					</div>

					<!-- Label col 2 -->
					<div class="col-6">
						<p>
							<i class="bi bi-geo-alt-fill"></i>
							{{ schoolDetail.specificAddress }}
						</p>
						<p>
							<i class="bi bi-envelope-fill"></i>
							{{ schoolDetail.email }}
						</p>
						<p>
							<i class="bi bi-telephone-fill"></i>
							{{ schoolDetail.phone }}
						</p>
						<!-- <p>
							<i class="bi bi-globe"></i>
							<a href="#">{{ schoolDetail.website }}</a>
						</p> -->

						<p>
							<i class="bi bi-currency-dollar"></i>
							From {{ formatter.format(schoolDetail.feeFrom!).replace("đ", "VNĐ") }} to
							{{ formatter.format(schoolDetail.feeTo!).replace("đ", "VNĐ") }} VND/Month
						</p>

						<p>
							<i class="bi bi-calendar-event-fill"></i>
							{{ schoolDetail.childReceivingName }}
						</p>

						<p>
							<i class="bi bi-building"></i>
							{{ schoolDetail.schoolTypeName }}
						</p>
					</div>

					<div class="col-3">
						<button class="btn btn-primary" (click)="openModal()">Request Counseling</button>

						@if(isUserAuthenticated && schoolDetail.id){

						<!-- Enroll button -->
						<button
							class="btn btn-primary btn-icon-split"
							(click)="onCreateButtonClick()"
							*ngIf="userSchoolData.enrollSchoolId !== schoolDetail.id"
						>
							<span class="icon text-white-50">
								<i class="fas fa-add"></i>
							</span>
							<span class="text">Enroll to school</span>
						</button>

						<!-- Unenroll button -->
						<button
							class="btn btn-danger btn-icon-split"
							(click)="openUnenrollModal()"
							*ngIf="userSchoolData.enrollSchoolId == schoolDetail.id"
						>
							<span class="icon text-white-50">
								<!-- <i class="fas fa-minus"></i> -->
							</span>
							<span class="text">Unenroll from School</span>
						</button>
						<br />

						<a
							class="btn btn-outline-primary"
							[routerLink]="'/public/school/rating/' + schoolDetail.id"
							*ngIf="userSchoolData.enrollSchoolId === schoolDetail.id"
						>
							Rate School
						</a>
						}
					</div>
				</div>
			</div>

			<!-- <div class="d-flex justify-content-end align-items-center mt-3">
				<div class="rating">
					<span class="d-inline-block text-end" style="margin-left: 180px">
						<i class="fa fa-star fs-6"></i>
						<i class="fa fa-star fs-6"></i>
						<i class="fa fa-star fs-6"></i>
						<i class="fa fa-star fs-6"> </i>
						<i class="fa fa-star fs-6"></i>
					</span>
				</div>
				<span>5.0/5 (120 ratings)</span>
			</div> -->
		</div>
	</div>
</div>

<div class="container">
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<button
				class="nav-link active"
				id="nav-home-tab"
				data-bs-toggle="tab"
				data-bs-target="#nav-home"
				type="button"
				role="tab"
				aria-controls="nav-home"
				aria-selected="true"
			>
				Overview
			</button>

			<!-- <button
				class="nav-link"
				id="nav-profile-tab"
				data-bs-toggle="tab"
				data-bs-target="#nav-profile"
				type="button"
				role="tab"
				aria-controls="nav-profile"
				aria-selected="false"
			>
				Ratings
			</button> -->
		</div>
	</nav>

	<div
		id="nav-tabContent"
		class="tab-content p-3 shadow mb-3"
		style="border: 2px solid #4b95df; border-radius: 0.25rem"
	>
		<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
			<app-school-detail-overview [schoolDetail]="schoolDetail" />
		</div>

		<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
			<app-school-detail-rating [schoolDetail]="schoolDetail" />
		</div>
	</div>
</div>

<app-request-counseling-modal
	[userData]="userSchoolData"
	[schoolDetail]="schoolDetail"
	(onSubmit)="handleModalSubmit($event)"
	(onCancel)="handleModalCancel()"
/>

<app-school-enrollment-request [userSchoolData]="userSchoolData" (onSubmit)="handleEnrollmentSubmit($event)" />
<app-unenroll-school-request-modal
	[userSchoolData]="userSchoolData"
	[userSchoolRequest]="userSchoolRequest"
	(onSubmit)="handleUnEnrollmentSubmit($event)"
/>
<app-footer />
