#publicSchoolDetail .card {
	border: 2px solid #4b95df;
	border-radius: 0.5rem;
	padding: 1.5rem;
	margin: 1rem 0;
}
#publicSchoolDetail .card .btn {
	margin-bottom: 0.5rem;
}

#publicSchoolDetail .card .rating {
	display: flex;
	align-items: center;
}

#publicSchoolDetail .card .rating span {
	margin-left: 0.5rem;
}

#publicSchoolDetail .card i {
	margin-right: 0.5rem;
}

.rating {
	color: #ffd700;
}

#schoolImageCarousel img {
	max-width: 100%;
	height: 350px;
}
