<!-- Hero Section -->
<section class="hero-section">
	<h1>Find the ideal school</h1>
	<p class="fs-5">Search by school name</p>
	<div class="row justify-content-center align-items-center">
		<div class="col-md-3 mb-3">
			<input id="searchSchoolName" type="text" class="form-control" placeholder="Enter a school name" />
		</div>

		<div class="col-md-1 mb-3">
			<button id="searchSchoolNameButton" class="btn btn-primary" (click)="searchBySchoolNameButton()">
				Search
			</button>
		</div>
	</div>

	<div class="fs-5">OR</div>
	<div class="fs-5">Browse by location</div>

	<div class="row justify-content-center">
		<div class="col-md-2 mb-3">
			<ngx-select
				placeholder="City/Province"
				[allowClear]="true"
				[keepSelectedItems]="true"
				optionValueField="code"
				optionTextField="name"
				[items]="(cities | async)!"
				[(ngModel)]="cityCode"
				(selectionChanges)="onCityChange($event)"
			>
			</ngx-select>
		</div>

		<div class="col-md-2 mb-3">
			<ngx-select
				placeholder="District"
				[allowClear]="true"
				[keepSelectedItems]="true"
				optionValueField="code"
				optionTextField="name"
				[items]="(districts | async)!"
				[(ngModel)]="districtCode"
			>
			</ngx-select>
		</div>

		<div class="col-md-1">
			<button class="btn btn-primary" (click)="searchByLocationButton()">Search</button>
		</div>
	</div>
	<p class="text-white">NOTE: The inclusion of a school in this search does NOT constitute an endorsement...</p>
</section>

<!-- Testimonials Section -->
<section class="py-4" style="background-color: #f1f1f1">
	<div class="container text-center">
		<h2>Our testimonials</h2>
		<div class="row mt-4">
			<div class="col-md-6">
				<div class="testimonial row mt-3 d-flex align-items-center">
					<div class="col-1">
						<img
							src="https://wac-cdn.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg?cdnVersion=1827"
							alt="User"
							width="60"
							height="60"
						/>
					</div>

					<div class="col-1"></div>

					<div class="ms-3 col-9">
						<h5 class="text-start">
							<span class="d-inline-block">Will Kenny</span>

							<span class="d-inline-block text-end" style="margin-left: 180px">
								<i class="fa fa-star fs-6"></i>
								<i class="fa fa-star fs-6"></i>
								<i class="fa fa-star fs-6"></i>
								<i class="fa fa-star fs-6"> </i>
								<i class="fa fa-star fs-6"></i>
							</span>
						</h5>
						<p class="text-break text-start">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime explicabo a quia
							praesentium modi iste sunt magni error ipsam, ducimus est vitae, esse commodi adipisci
							deleniti, totam harum fugiat aspernatur!
						</p>
					</div>
				</div>

				<div class="testimonial row mt-3 d-flex align-items-center">
					<div class="col-1">
						<img
							ngSrc="https://www.blakes.com/getmedia/69f1d69a-4d24-43d1-aa23-1b93c76ebcd7/Wasim_Humna_0622.png?width=1080&height=920&ext=.png"
							alt="User"
							width="60"
							height="60"
						/>
					</div>

					<div class="col-1"></div>

					<div class="ms-3 col-9">
						<h5 class="text-start">
							<span class="d-inline-block">Will Kenny</span>

							<span class="d-inline-block text-end" style="margin-left: 180px">
								<i class="fa fa-star fs-6"></i>
								<i class="fa fa-star fs-6"></i>
								<i class="fa fa-star fs-6"></i>
								<i class="fa fa-star fs-6"> </i>
								<i class="fa fa-star fs-6"></i>
							</span>
						</h5>
						<p class="text-break text-start">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime explicabo a quia
							praesentium modi iste sunt magni error ipsam, ducimus est vitae, esse commodi adipisci
							deleniti, totam harum fugiat aspernatur!
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="testimonial row mt-3 d-flex align-items-center">
					<div class="col-1">
						<img
							src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsX29mZmljZV8yX3Bob3RvX29mX2FfYmxhY2tfYnVzaW5lc3NtYW5faXNvbGF0ZWRfb25fb2ZmX19lZmMxZDllNC1iNzQ5LTQ2NzMtYjRmMS1lYjI0NTBiYzNiOGRfMS5qcGc.jpg"
							alt="User"
							width="60"
							height="60"
						/>
					</div>

					<div class="col-1"></div>

					<div class="ms-3 col-9">
						<h5 class="text-start">
							<span class="d-inline-block">Will Kenny</span>

							<span class="d-inline-block text-end" style="margin-left: 180px">
								<i class="fa fa-star fs-6"></i>
								<i class="fa fa-star fs-6"></i>
								<i class="fa fa-star fs-6"></i>
								<i class="fa fa-star fs-6"> </i>
								<i class="fa fa-star fs-6"></i>
							</span>
						</h5>
						<p class="text-break text-start">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime explicabo a quia
							praesentium modi iste sunt magni error ipsam, ducimus est vitae, esse commodi adipisci
							deleniti, totam harum fugiat aspernatur!
						</p>
					</div>
				</div>

				<div class="testimonial row mt-3 d-flex align-items-center">
					<div class="col-1">
						<img
							src="https://t3.ftcdn.net/jpg/03/12/90/74/360_F_312907438_yndoDCcP7U0JAY1eOKoRdcYaVfRBQe6E.jpg"
							alt="User"
							width="60"
							height="60"
						/>
					</div>

					<div class="col-1"></div>

					<div class="ms-3 col-9">
						<h5 class="text-start">
							<span class="d-inline-block">Will Kenny</span>

							<span class="d-inline-block text-end" style="margin-left: 180px">
								<i class="fa fa-star fs-6"></i>
								<i class="fa fa-star fs-6"></i>
								<i class="fa fa-star fs-6"></i>
								<i class="fa fa-star fs-6"> </i>
								<i class="fa fa-star fs-6"></i>
							</span>
						</h5>
						<p class="text-break text-start">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime explicabo a quia
							praesentium modi iste sunt magni error ipsam, ducimus est vitae, esse commodi adipisci
							deleniti, totam harum fugiat aspernatur!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- About -->
<section class="pt-3 pb-5" style="background-color: #c8e7ed">
	<h3 class="text-center my-4">About us</h3>

	<div class="container-fluid">
		<div class="col-12 col-lg-12 col-xl-12 row">
			<div class="col-4">
				<div class="card" style="height: 260px">
					<div class="card-body">
						<h5 class="card-title text-center">
							<i class="fa-solid fa-briefcase"></i>
							Our school networks
						</h5>

						<p class="text-center fs-3 mb-0">1500 +</p>

						<div class="card-text text-center fs-4">School profiles of parents and kids</div>

						<div class="text-secondary">
							Search for a preschool for your child based on basic criteria such as: quality, reviews
							of other parents, location, tuition fees, ...
						</div>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="card" style="height: 260px">
					<div class="card-body">
						<h5 class="card-title text-center">
							<i class="fa-solid fa-location-dot"></i>
							Parent community
						</h5>

						<p class="text-center fs-3 mb-0">800 +</p>

						<div class="card-text text-center fs-4">Preschools and Kindergarten</div>

						<div class="text-secondary">
							Close connection with to parents through multiple channels including email, chat and
							phone calls. Get feedback from parents to provide a comprehensive view
						</div>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="card" style="height: 260px">
					<div class="card-body">
						<h5 class="card-title text-center">
							<i class="fa-solid fa-people-group"></i>
							Special consultant
						</h5>

						<p class="text-center fs-3 mb-0">30 +</p>

						<div class="card-text text-center fs-4">
							Consultants with 5-10 yrs of experience in education
						</div>

						<div class="text-secondary">
							Our consultant with deep knowledge on pre-school education will help parents to choose
							the right school for their children
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<app-footer />
