.hero-section {
	background-image: url("https://www.21kschool.com/vn/wp-content/uploads/sites/5/2021/01/rptgtpxd-1396254731.jpg");
	background-size: cover;
	background-position: center;
	padding: 50px 0;
	color: white;
	text-align: center;
}
.testimonial img {
	border-radius: 50%;
}
.about-section {
	background-color: #e0f7fa;
	padding: 50px 0;
}

.contain-fluid {
	padding: 0;
}

.testimonial i {
	color: #ffd700;
}
