<app-modal
	[buttonText]="modalObject().buttonText"
	[modalTitle]="modalObject().modalTitle"
	[modalConfirmQuestion]="modalObject().modalConfirmQuestion"
	[buttonColor]="modalObject().buttonColor"
	(onButtonClickEvent)="onModalButtonClick()"
></app-modal>
<!-- Form -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">
			Edit school

			<span
				style="font-size: 13px"
				class="badge badge-lg rounded-pill ms-2"
				[class]="
					schoolStatusName === 'Submitted' || schoolStatusName === 'Saved'
						? 'bg-secondary'
						: 'bg-success'
				"
			>
				{{ schoolStatusName }}
			</span>
		</h6>
	</div>

	<div class="card-body px-5">
		<form [formGroup]="editSchoolForm">
			<!-- School name -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder fw-bolder">
					School Name <span class="text-danger">*</span>
				</div>

				<div class="col-sm-8">
					<input
						type="text"
						class="form-control form-control-user"
						[formControl]="editSchoolForm.controls.schoolName"
					/>

					<!-- Error msg -->
					<div class="text-danger">
						@if(editSchoolForm.controls.schoolName.hasError('required') &&
						editSchoolForm.controls.schoolName.touched){

						<div>School Name is required</div>
						}
					</div>
				</div>
			</div>

			<!-- School type -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">
					School Type <span class="text-danger">*</span>
				</div>

				<div class="col-sm-8">
					<select
						class="form-control form-control-user"
						[formControl]="editSchoolForm.controls.schoolTypeId"
					>
						<option value="" selected disabled>Select a category</option>
						@for (item of types; track $index) {
						<option [value]="item.id">{{ item.name }}</option>
						}
					</select>

					<!-- Error msg -->
					<div class="text-danger">
						@if(editSchoolForm.controls.schoolTypeId.hasError('required') &&
						editSchoolForm.controls.schoolTypeId.touched){

						<div>School Type is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Address -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Address <span class="text-danger">*</span></div>

				<div class="col-sm-8">
					<input
						type="text"
						class="form-control form-control-user"
						placeholder="Enter School Address here"
						[formControl]="editSchoolForm.controls.specificAddress"
					/>

					<!-- Error msg -->
					<div class="text-danger">
						@if(editSchoolForm.controls.specificAddress.hasError('required') &&
						editSchoolForm.controls.specificAddress.touched){

						<div>School address is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Province/City -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder"></div>

				<div class="col-sm-8">
					<select
						class="form-control form-control-user"
						[formControl]="editSchoolForm.controls.provinceId"
					>
						<option value="" disabled selected>Province/City</option>

						@for (item of provinceList|async; track $index) {
						<option [value]="item.code">{{ item.name }}</option>
						}
					</select>

					<!-- Error msg -->
					<div class="text-danger">
						@if(editSchoolForm.controls.provinceId.hasError('required') &&
						editSchoolForm.controls.provinceId.touched){

						<div>School province is required</div>
						}
					</div>
				</div>
			</div>

			<!-- District -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder"></div>

				<div class="col-sm-8">
					<select
						class="form-control form-control-user"
						[formControl]="editSchoolForm.controls.districtId"
					>
						<option value="" disabled selected>District</option>

						@for (item of districtList|async; track $index) {
						<option [value]="item.code">{{ item.name }}</option>
						}
					</select>

					<!-- Error msg -->
					<div class="text-danger">
						@if(editSchoolForm.controls.districtId.hasError('required') &&
						editSchoolForm.controls.districtId.touched){

						<div>School district is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Ward -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder"></div>

				<div class="col-sm-8">
					<select class="form-control form-control-user" [formControl]="editSchoolForm.controls.wardId">
						<option value="" disabled selected>Ward</option>
						@for (item of wardList|async; track $index) {
						<option [value]="item.code">{{ item.name }}</option>
						}
					</select>

					<!-- Error msg -->
					<div class="text-danger">
						@if(editSchoolForm.controls.wardId.hasError('required') &&
						editSchoolForm.controls.wardId.touched){

						<div>School ward is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Email -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Email <span class="text-danger">*</span></div>

				<div class="col-sm-8">
					<input
						type="email"
						class="form-control form-control-user"
						placeholder="Enter School Email here"
						[formControl]="editSchoolForm.controls.email"
					/>

					<!-- Error msg -->
					<div class="text-danger">
						@if(editSchoolForm.controls.email.hasError('required') &&
						editSchoolForm.controls.email.touched){

						<div>School email is required</div>
						} @if(editSchoolForm.controls.email.hasError('email')){

						<div>School email is invalid format</div>
						}
					</div>
				</div>
			</div>

			<!-- Phone -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Phone <span class="text-danger">*</span></div>

				<div class="col-sm-8">
					<input
						type="tel"
						class="form-control form-control-user"
						placeholder="Enter School phone here"
						[formControl]="editSchoolForm.controls.phone"
					/>

					<!-- Error msg -->
					<div class="text-danger">
						@if(editSchoolForm.controls.phone.hasError('required') &&
						editSchoolForm.controls.phone.touched){

						<div>School phone is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Child Receiving Age -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">
					Child-receiving age <span class="text-danger">*</span>
				</div>

				<div class="col-sm-8">
					<select
						class="form-control form-control-user"
						[formControl]="editSchoolForm.controls.childReceivingAgeId"
					>
						<option value="" disabled selected>Select a category</option>

						<option value="a4492e54-ac55-44a5-8876-97b8515e062a">6 Month - 1 Year</option>

						<option value="91654d6c-ca93-4660-b3e5-d360ea2dac70">1 Year - 3 Year</option>

						<option value="9e973afb-7182-44da-b90a-4ef5c0a66bfb">3 Year - 6 Year</option>
					</select>

					<!-- Error msg -->
					<div class="text-danger">
						@if(editSchoolForm.controls.childReceivingAgeId.hasError('required') &&
						editSchoolForm.controls.childReceivingAgeId.touched){

						<div>School child receiving age is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Education Method -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">
					Education Method <span class="text-danger">*</span>
				</div>

				<div class="col-sm-8">
					<select
						class="form-control form-control-user"
						[formControl]="editSchoolForm.controls.educationMethodId"
					>
						<option value="" disabled selected>Select a category</option>

						@for (item of educationMethods; track $index) {
						<option [value]="item.id">{{ item.name }}</option>
						}
					</select>

					<!-- Error msg -->
					<div class="text-danger">
						@if(editSchoolForm.controls.educationMethodId.hasError('required') &&
						editSchoolForm.controls.educationMethodId.touched){

						<div>School education method is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Languages -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Language <span class="text-danger">*</span></div>

				<div class="col-sm-8">
					<select
						class="form-control form-control-user"
						[formControl]="editSchoolForm.controls.languageId"
					>
						<option value="" disabled selected>Select a category</option>

						@for (item of languages; track $index) {
						<option [value]="item.id">{{ item.name }}</option>
						}
					</select>

					<!-- Error msg -->
					<div class="text-danger">
						@if(editSchoolForm.controls.languageId.hasError('required') &&
						editSchoolForm.controls.languageId.touched){

						<div>School language is required</div>
						}
					</div>
				</div>
			</div>

			<!-- Fee -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">
					Fee/month (VND) <span class="text-danger">*</span>
				</div>

				<div class="col-sm-8 row justify-content-between">
					<!-- Fee from -->
					<div class="col-sm-6 row align-items-center">
						<div class="col-sm-4 fw-bolder text-end">From</div>

						<div class="col-sm-8">
							<input
								min="0"
								type="number"
								class="form-control form-control-user"
								[formControl]="editSchoolForm.controls.feeFrom"
							/>

							<!-- Error msg -->
							<div class="text-danger">
								@if(editSchoolForm.controls.feeFrom.hasError('required') &&
								editSchoolForm.controls.feeFrom.touched){

								<div>School fee from is required</div>
								} @if(editSchoolForm.controls.feeFrom.hasError('min')){
								<div>Min school fee from is 1</div>
								}
							</div>
						</div>
					</div>

					<!-- Fee to -->
					<div class="col-sm-6 row align-items-center">
						<div class="col-sm-4 fw-bolder text-end">To</div>

						<div class="col-sm-8">
							<input
								min="0"
								type="number"
								class="form-control form-control-user"
								[formControl]="editSchoolForm.controls.feeTo"
							/>

							<!-- Error msg -->
							<div class="text-danger">
								@if(editSchoolForm.controls.feeTo.hasError('required') &&
								editSchoolForm.controls.feeTo.touched){

								<div>School fee to is required</div>
								} @if(editSchoolForm.controls.feeTo.hasError('min')){

								<div>Min school fee to is 1</div>
								} @if(editSchoolForm.getError('feeRange')){

								<span>Fee to must greater than fee from</span>
								}
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Facilities -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Facilities</div>

				<div class="col-sm-8 row">
					@for (item of facilities; track $index) {
					<div class="col-sm-4 col">
						<div class="form-check">
							<input
								class="form-check-input"
								type="checkbox"
								[id]="item.id"
								[value]="item.id"
								[formControl]="editSchoolForm.controls.facilityIDs.controls[$index]"
							/>
							<label class="form-check-label" [for]="item.id">
								{{ item.name }}
							</label>
						</div>
					</div>
					}
				</div>
			</div>

			<!-- Utilities -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Utilities</div>

				<div class="col-sm-8 row">
					@for (item of utilities; track $index) {
					<div class="col-sm-4 col">
						<div class="form-check">
							<input
								class="form-check-input"
								type="checkbox"
								[id]="item.id"
								[value]="item.id"
								[formControl]="editSchoolForm.controls.utilityIDs.controls[$index]"
							/>
							<label class="form-check-label" [for]="item.id">
								{{ item.name }}
							</label>
						</div>
					</div>
					}
				</div>
			</div>

			<!-- School Introduction -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">School Introduction</div>

				<div class="col-sm-8">
					<ckeditor [editor]="editor" [formControl]="editSchoolForm.controls.schoolIntroduce"></ckeditor>
				</div>
			</div>

			<!-- School Images -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">School Image</div>

				<div class="col-sm-8">
					<input
						multiple
						type="file"
						id="createImageForm"
						class="form-control"
						(change)="addEventChangeToInputImageField($event)"
					/>
				</div>
			</div>

			<!-- Buttons -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5"></div>

				<div class="col-sm-8">
					<button
						type="button"
						class="btn btn-outline-primary fw-bolder"
						[attr.data-bs-toggle]="editSchoolForm.valid ? 'modal' : null"
						[attr.data-bs-target]="editSchoolForm.valid ? '#modalConfirm' : null"
						(click)="isCancelButtonClick.set(true); isEditButtonClick.set(false)"
					>
						Cancel
					</button>

					<button
						type="button"
						class="btn btn-primary ms-3 fw-bolder"
						[attr.data-bs-toggle]="editSchoolForm.valid ? 'modal' : null"
						[attr.data-bs-target]="editSchoolForm.valid ? '#modalConfirm' : null"
						(click)="
							triggerAllFormError(); isCancelButtonClick.set(false); isEditButtonClick.set(true)
						"
					>
						Edit
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
