<!-- Table -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">{{ tableName }}</h6>
	</div>

	<div class="card-body">
		<div class="table-responsive">
			<div id="dataTable_wrapper" class="dataTables_wrapper pt-1 px-1">
				<!-- Create button and search -->
				<div class="row">
					<!-- Create button -->

					<div class="col-sm-12 col-md-6">
						@if(isDisplayCreateButton){
						<div class="dataTables_length">
							<button class="btn btn-primary btn-icon-split" (click)="onCreateButtonClick()">
								<span class="icon text-white-50">
									<i class="fas fa-add"></i>
								</span>
								<span class="text">Create</span>
							</button>
						</div>
						}
					</div>

					<!-- Seatch -->
					<div class="col-sm-12 col-md-6">
						<div id="dataTable_filter" class="dataTables_filter">
							<label>
								<div class="input-group">
									<input
										id="searchInput"
										type="text"
										class="form-control bg-light border-0 small"
										placeholder="Search for..."
										aria-label="Search"
										aria-describedby="basic-addon2"
									/>
									<div class="input-group-append">
										<button class="btn btn-info" type="button" (click)="onSearchButtonClick()">
											<i class="fas fa-search fa-sm"></i>
										</button>
									</div>
								</div>
							</label>
						</div>
					</div>
				</div>

				<!-- Table -->
				<div class="row">
					<table class="table table-bordered" id="dataTable" cellspacing="0">
						<thead>
							<tr>
								<th class="text-center"></th>

								@for (heading of tableHeadings; track $index) {
								<th class="text-center">
									{{ heading }}
								</th>

								}
								<th class="text-center">Actions</th>
							</tr>
						</thead>

						<tbody>
							@if(pageResult !== null){ @if(pageResult.items !== null && pageResult.items?.length){

							<span *ngIf="pageResult.items!.length === 0">Not found!</span>

							<ng-container *ngIf="pageResult.items!.length !== 0">
								@for (data of pageResult!.items; track $index) {

								<tr>
									<td class="text-center">
										{{ $index + startIndex }}
									</td>

									@for (key of keys; track $index) {

									<td class="text-center">
										<span [style]="getStatusColor($any(data[key]))">
											{{
												getCategoryName(getStatusName($any(data[key])))
													| dateFormat : formatDateType
											}}
										</span>
									</td>

									}

									<!-- Buttons action -->

									@if(isDisplayActionButtons){

									<td class="text-center">
										<button
											type="button"
											class="btn btn-sm btn-info m-1"
											(click)="onEditButtonClick(data)"
										>
											<i class="fa-solid fa-pen-to-square"></i>
										</button>
										@if(isDeleted(data)){
										<button disabled type="button" class="btn btn-sm btn-danger m-1">
											<i class="fa-solid fa-trash"></i>
										</button>
										} @else {
										<button
											type="button"
											class="btn btn-sm btn-danger m-1"
											(click)="onDeleteButtonClick(data)"
										>
											<i class="fa-solid fa-trash"></i>
										</button>
										}
									</td>
									}@else{
									<td class="text-center">
										<button
											type="button"
											title="Go to Mark as resolve"
											class="btn btn-sm btn-info m-1"
											(click)="navigateMarkAsResolve(data)"
										>
											<i class="fa-solid fa-arrow-right"></i>
										</button>
									</td>
									}
								</tr>
								}
							</ng-container>
							} }
						</tbody>
					</table>
				</div>

				<div class="row">
					<!-- Paging -->
					<div class="row justify-content-between">
						<div class="col-sm-12 col-md-5">
							<div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
								@if(pageResult !== null){ @if(pageResult.items?.length){ Showing
								{{ (pageResult.pageIndex! - 1) * pageResult.pageSize! + 1 }}
								to
								{{
									(pageResult.pageIndex! - 1) * pageResult.pageSize! +
										1 +
										pageResult.items!.length -
										1
								}}
								of {{ pageResult.totalRecords }} entries } }
							</div>
						</div>
						<div class="col-sm-12 col-md-7">
							<div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
								<app-paging
									[pageResult]="pageResult!"
									(currentPageIndex)="getCurrentPage($event)"
								></app-paging>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
