<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
/>
<div *ngIf="showModal" class="modal-overlay">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="display-3 font-weight-bold">Contact Us For Any Query</h5>
			<button type="button" class="close" (click)="close()">×</button>
		</div>
		<div class="modal-body">
			<div class="container-fluid">
				<div class="container">
					<div class="text-center pb-2">
						<p class="section-title px-5">
							<span class="px-2">{{ schoolDetail.schoolName }}</span>
						</p>
					</div>
					<div class="row">
						<div class="col-lg-7 mb-5">
							<div class="contact-form">
								<form [formGroup]="form" (ngSubmit)="submit()">
									<div class="control-group">
										<label for="fullName">Full Name</label>
										<input
											type="text"
											class="form-control"
											id="fullName"
											[formControl]="form.controls.fullName"
											placeholder="Your Name"
										/>
										<div
											*ngIf="
												form.controls.fullName.touched &&
												form.controls.fullName.hasError('required')
											"
											class="text-danger"
										>
											Full Name is required.
										</div>
									</div>

									<div class="control-group">
										<label for="email">Email</label>
										<input
											type="email"
											class="form-control"
											id="email"
											[formControl]="form.controls.email"
											placeholder="Your Email"
										/>

										<div
											*ngIf="
												form.controls.email.touched &&
												form.controls.email.hasError('required')
											"
											class="text-danger"
										>
											Valid email is required.
										</div>
									</div>
									<div class="control-group">
										<label for="mobileNo">Mobile No.</label>
										<input
											type="text"
											class="form-control"
											id="mobileNo"
											[formControl]="form.controls.phoneNumber"
											placeholder="Mobile No."
										/>

										<div
											*ngIf="
												form.controls.phoneNumber.touched &&
												form.controls.phoneNumber.hasError('required')
											"
											class="text-danger"
										>
											Mobile No. is required.
										</div>
									</div>
									<div class="control-group">
										<label for="inquiry">Inquiry Details</label>
										<!-- <textarea
											class="form-control"
											rows="9"
											id="inquiry"
											[formControl]="form.controls.inquiry"
											placeholder="Enter your inquiry details (optional)"
											maxlength="5000"
										></textarea> -->
										<ckeditor [editor]="editor" [formControl]="form.controls.inquiry"></ckeditor>
									</div>
								</form>
							</div>
						</div>

						<div class="col-lg-5 mb-5">
							<img [src]="getSchoolImage()" alt="School Image" class="school-image" />

							<p>
								{{ schoolDetail.schoolName }}
							</p>
							<div class="d-flex">
								<i
									class="fa-regular fa-address-book d-inline-flex align-items-center justify-content-center text-secondary rounded-circle"
								></i>
								<div class="pl-3">
									<h5>Address</h5>
									<p>{{ schoolDetail.specificAddress }}</p>
								</div>
							</div>
							<div class="d-flex">
								<i
									class="fa-regular fa-envelope d-inline-flex align-items-center justify-content-center text-secondary rounded-circle"
								></i>

								<div class="pl-3">
									<h5>Email</h5>
									<p>{{ schoolDetail.email }}</p>
								</div>
							</div>

							<div class="d-flex">
								<i
									class="fa-solid fa-phone d-inline-flex align-items-center justify-content-center text-secondary rounded-circle"
								></i>
								<div class="pl-3">
									<h5>Phone</h5>
									<p>{{ schoolDetail.phone }}</p>
								</div>
							</div>

							<div class="d-flex">
								<i
									class="fa-solid fa-money-bill d-inline-flex align-items-center justify-content-center text-secondary rounded-circle"
								></i>

								<div class="pl-3">
									<h5>Fee</h5>
									<p class="m-0">
										{{ schoolDetail.feeFrom | currency : "VND" }} -
										{{ schoolDetail.feeTo | currency : "VND" }}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton" (click)="submit()">
				Send Message
			</button>
			<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
		</div>
	</div>
</div>
