/* contact-modal.component.css */
* {
	font-family: sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	box-sizing: border-box;
}

.school-detail-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.school-image {
	width: 100%;
	max-width: 300px;
	height: auto;
	object-fit: cover;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.text-secondary {
	color: #00394f !important;
}

a.text-secondary:hover,
a.text-secondary:focus {
	color: #000203 !important;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

.section-title {
	position: relative;
	display: inline-block;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #4e73df;
}

.section-title span {
	position: relative;
	z-index: 1;
}

label {
	display: inline-block;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	font-weight: bolder;
}

.contact-form .help-block ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.display-3 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0.5rem;
	font-family: "Handlee", cursive;
	font-weight: bold;
	line-height: 1.2;
	color: #4e73df;
}

@media (max-width: 1200px) {
	.display-3 {
		font-size: calc(0.575rem + 3.9vw);
	}
}

.btn-primary {
	color: #fff;
	background-color: #4e73df;
	border-color: #4e73df;
}

.btn-primary:hover {
	color: #fff;
	background-color: #4e73df;
	border-color: #4e73df;
}

.btn-primary:focus,
.btn-primary.focus {
	color: #fff;
	background-color: #4e73df;
	border-color: #4e73df;
	box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #4e73df;
	border-color: #4e73df;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #4e73df;
	border-color: #4e73df;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	background: white;
	padding: 20px;
	border-radius: 8px;
	width: 80%;
	max-width: 800px;
	max-height: 90vh;
	overflow-y: auto;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
}

.modal-footer {
	display: flex;
	justify-content: flex-end;
	border: none;
}

.close {
	cursor: pointer;
	border: none;
	background: none;
	font-size: 1.5rem;
}
