<div *ngIf = "isShow" class="modal-overlay">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title">Edit School Request</h5>
		<button type="button" class="close" (click)="close()">×</button>
	  </div>
	  <div class="modal-body">
		<p>Please check your details below and confirm to submit the request.</p>
		<form [formGroup]="form" (ngSubmit)="submit()">
		  <div class="form-group">
			<label for="fullName">Full Name</label>
			<input id="fullName" class="form-control" type="text" formControlName="fullName">
		  </div>
		  <div class="form-group">
			<label for="email">Email address</label>
			<input id="email" class="form-control" type="email" formControlName="email" placeholder="info@xyz.com">
			<div *ngIf="form.controls['email'].touched && form.controls['email'].invalid" class="text-danger">
			  Valid email is required.
			</div>
		  </div>
		  <div class="form-group">
			<label for="dob">Date of birth</label>
			<input id="dob" class="form-control" type="date" formControlName="dob">
		  </div>
		  <div class="form-group">
			<label for="mobileNo">Mobile No.</label>
			<input id="mobileNo" class="form-control" type="text" formControlName="mobileNo">
		  </div>
		  <div class="form-group">
			<label for="address">Address</label>
			<input id="address" class="form-control" type="text" formControlName="address">
			<div *ngIf="form.controls['address'].touched && form.controls['address'].invalid" class="text-danger">
			  Valid address is required.
			</div>
		  </div>
		  		  <div class="form-group">
			<label for="enrolledSchool">Enrolled School</label>
			<input id="enrolledSchool" class="form-control" type="text" formControlName="enrolledSchool">
		  </div>
		  <div class="form-group">
			<label for="inquiry">Content</label>
			<textarea id="inquiry" class="form-control" formControlName="inquiry" placeholder="Enter your enrollment content details" maxlength="4000"></textarea>
			<div *ngIf="form.controls['inquiry'].touched && form.controls['inquiry'].invalid" class="text-danger">
			  Valid content is required.
			</div>
		</div>
		  <p class="instruction">Our staff will contact you within 24 hrs. If you need urgent assistance, please contact us via our hotline <a href="/">0968242456</a></p>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
			<button type="submit" class="btn btn-primary">Submit</button>
		  </div>
		</form>
	  </div>
	</div>
</div>
