<app-modal
	[buttonText]="modalObject().buttonText"
	[modalTitle]="modalObject().modalTitle"
	[buttonColor]="modalObject().buttonColor"
	(onButtonClickEvent)="onButtonClickEvent()"
	[modalConfirmQuestion]="modalObject().modalConfirmQuestion"
></app-modal>

<!-- Form -->
<div class="card shadow mb-4">
	<div class="card-header py-3" style="display: flex; align-items: center; justify-content: space-between">
		<h6 class="m-0 font-weight-bold text-primary">
			School details

			<span
				style="font-size: 13px"
				class="badge badge-lg rounded-pill ms-2"
				[class]="getStatusColor(schoolDetail.schoolStatusName!)"
			>
				{{ schoolDetail.schoolStatusName }}
			</span>
		</h6>
		<a [href]="'content/school/rating?id=' + schoolDetail.id">View ratings & feedbacks</a>
	</div>

	<div class="card-body px-5">
		<form [formGroup]="schoolDetailForm">
			<!-- School name -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder fw-bolder">
					School Name <span class="text-danger">*</span>
				</div>

				<div class="col-sm-8">
					<input
						type="text"
						class="form-control form-control-user"
						[value]="schoolDetail.schoolName"
						readonly
					/>
				</div>
			</div>

			<!-- School type -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">
					School Type <span class="text-danger">*</span>
				</div>

				<div class="col-sm-8">
					<input
						type="text"
						class="form-control form-control-user"
						[value]="schoolDetail.schoolTypeName"
						readonly
					/>
				</div>
			</div>

			<!-- Address -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Address <span class="text-danger">*</span></div>

				<div class="col-sm-8">
					<input
						type="text"
						class="form-control form-control-user"
						[value]="schoolDetail.specificAddress"
						readonly
					/>
				</div>
			</div>

			<!-- Province/City -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder"></div>

				<div class="col-sm-8">
					<select
						class="form-control form-control-user"
						[formControl]="schoolDetailForm.controls.provinceId"
					>
						<option value="" disabled selected>Province/City</option>

						@for (item of provinceList | async; track $index) {
						<option [value]="item.code" disabled>{{ item.name }}</option>
						}
					</select>
				</div>
			</div>

			<!-- District -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder"></div>

				<div class="col-sm-8">
					<select
						class="form-control form-control-user"
						[formControl]="schoolDetailForm.controls.districtId"
					>
						<option value="" disabled selected>District</option>

						@for (item of districtList | async; track $index) {
						<option [value]="item.code" disabled>{{ item.name }}</option>
						}
					</select>
				</div>
			</div>

			<!-- Ward -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder"></div>

				<div class="col-sm-8">
					<select
						class="form-control form-control-user"
						[formControl]="schoolDetailForm.controls.wardId"
					>
						<option value="" disabled selected>Ward</option>
						@for (item of wardList | async; track $index) {
						<option [value]="item.code" disabled>{{ item.name }}</option>
						}
					</select>
				</div>
			</div>

			<!-- Email -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Email <span class="text-danger">*</span></div>

				<div class="col-sm-8">
					<input
						type="email"
						class="form-control form-control-user"
						[value]="schoolDetail.email"
						readonly
					/>
				</div>
			</div>

			<!-- Phone -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Phone <span class="text-danger">*</span></div>

				<div class="col-sm-8">
					<input
						type="tel"
						class="form-control form-control-user"
						[value]="schoolDetail.phone"
						readonly
					/>
				</div>
			</div>

			<!-- Child Receiving Age -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">
					Child-receiving age <span class="text-danger">*</span>
				</div>

				<div class="col-sm-8">
					<input
						type="text"
						class="form-control form-control-user"
						[value]="schoolDetail.childReceivingName"
						readonly
					/>
				</div>
			</div>

			<!-- Education Method -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">
					Education Method <span class="text-danger">*</span>
				</div>

				<div class="col-sm-8">
					<input
						type="text"
						class="form-control form-control-user"
						[value]="schoolDetail.educationMethodName"
						readonly
					/>
				</div>
			</div>

			<!-- Languages -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Language <span class="text-danger">*</span></div>

				<div class="col-sm-8">
					<input
						type="text"
						class="form-control form-control-user"
						[value]="schoolDetail.languageName"
						readonly
					/>
				</div>
			</div>

			<!-- Fee -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">
					Fee/month (VND) <span class="text-danger">*</span>
				</div>

				<div class="col-sm-8 row justify-content-between">
					<!-- Fee from -->
					<div class="col-sm-6 row align-items-center">
						<div class="col-sm-4 fw-bolder text-end">From</div>

						<div class="col-sm-8">
							<input
								min="0"
								type="number"
								class="form-control form-control-user"
								[value]="schoolDetail.feeFrom"
								readonly
							/>
						</div>
					</div>

					<!-- Fee to -->
					<div class="col-sm-6 row align-items-center">
						<div class="col-sm-4 fw-bolder text-end">To</div>

						<div class="col-sm-8">
							<input
								min="0"
								type="number"
								class="form-control form-control-user"
								[value]="schoolDetail.feeTo"
								readonly
							/>
						</div>
					</div>
				</div>
			</div>

			<!-- Facilities -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Facilities</div>

				<div class="col-sm-8 row">
					@for (item of facilities; track $index) {
					<div class="col-sm-4 col">
						<div class="form-check">
							<input
								disabled
								type="checkbox"
								class="form-check-input"
								[checked]="schoolUtils.getCheckedFacilities(item!, schoolDetail.facilitiesName!)"
							/>
							<label class="form-check-label">
								{{ item }}
							</label>
						</div>
					</div>
					}
				</div>
			</div>

			<!-- Utilities -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">Utilities</div>

				<div class="col-sm-8 row">
					@for (item of utilities; track $index) {
					<div class="col-sm-4 col">
						<div class="form-check">
							<input
								disabled
								type="checkbox"
								class="form-check-input"
								[checked]="schoolUtils.getCheckedUtilities(item!, schoolDetail.utilitiesName!)"
							/>
							<label class="form-check-label">
								{{ item }}
							</label>
						</div>
					</div>
					}
				</div>
			</div>

			<!-- School Introduction -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5 fw-bolder">School Introduction</div>

				<div class="col-sm-8">
					<ckeditor
						[disabled]="true"
						[editor]="editor"
						[data]="schoolDetail.schoolIntroduce!"
					></ckeditor>
				</div>
			</div>

			<!-- Buttons -->
			<div class="form-group row align-items-center">
				<div class="col-sm-4 mb-3 mb-sm-0 ps-5"></div>

				<div class="col-sm-8">
					<button
						*ngIf="schoolDetail.schoolStatusName !== 'Deleted'"
						type="button"
						class="btn btn-danger fw-bolder"
						data-bs-toggle="modal"
						data-bs-target="#modalConfirm"
						(click)="
							isDeleteButtonClick.set(true);
							isRejectButtonClick.set(false);
							isApproveButtonClick.set(false);
							isPublishButtonClick.set(false);
							isUnPublishButtonClick.set(false)
						"
					>
						Delete
					</button>

					@if(userId() === schoolDetail.createdBy){
					<a
						[href]="'/content/school/edit?id=' + schoolDetail.id"
						class="btn btn-primary ms-3 fw-bolder"
					>
						Edit
					</a>
					} @if(isAdmin() === true && schoolDetail.schoolStatusName === 'Submitted'){
					<button
						type="button"
						data-bs-toggle="modal"
						data-bs-target="#modalConfirm"
						class="btn btn-danger ms-3 fw-bolder"
						(click)="
							isRejectButtonClick.set(true);
							isDeleteButtonClick.set(false);
							isApproveButtonClick.set(false);
							isPublishButtonClick.set(false);
							isUnPublishButtonClick.set(false)
						"
					>
						Reject
					</button>

					<button
						type="button"
						data-bs-toggle="modal"
						data-bs-target="#modalConfirm"
						class="btn btn-primary ms-3 fw-bolder"
						(click)="
							isApproveButtonClick.set(true);
							isDeleteButtonClick.set(false);
							isRejectButtonClick.set(false);
							isPublishButtonClick.set(false);
							isUnPublishButtonClick.set(false)
						"
					>
						Approve
					</button>

					} @else {

					<button
						type="button"
						*ngIf="
							schoolDetail.schoolStatusName === 'Unpublished' ||
							schoolDetail.schoolStatusName === 'Approved'
						"
						data-bs-toggle="modal"
						data-bs-target="#modalConfirm"
						class="btn btn-primary ms-3 fw-bolder"
						(click)="
							isPublishButtonClick.set(true);
							isDeleteButtonClick.set(false);
							isRejectButtonClick.set(false);
							isApproveButtonClick.set(false);
							isUnPublishButtonClick.set(false);
							isSubmitButtonClick.set(false)
						"
					>
						Publish
					</button>

					<button
						*ngIf="schoolDetail.schoolStatusName === 'Published'"
						type="button"
						data-bs-toggle="modal"
						data-bs-target="#modalConfirm"
						class="btn btn-outline-primary ms-3 fw-bolder"
						(click)="
							isUnPublishButtonClick.set(true);
							isDeleteButtonClick.set(false);
							isRejectButtonClick.set(false);
							isApproveButtonClick.set(false);
							isPublishButtonClick.set(false);
							isSubmitButtonClick.set(false)
						"
					>
						Un-publish
					</button>

					<button
						*ngIf="schoolDetail.schoolStatusName === 'Saved'"
						type="button"
						data-bs-toggle="modal"
						data-bs-target="#modalConfirm"
						class="btn btn-primary ms-3 fw-bolder"
						(click)="
							isSubmitButtonClick.set(true);
							isUnPublishButtonClick.set(false);
							isDeleteButtonClick.set(false);
							isRejectButtonClick.set(false);
							isApproveButtonClick.set(false);
							isPublishButtonClick.set(false)
						"
					>
						Submit
					</button>
					}
				</div>
			</div>
		</form>
	</div>
</div>
