<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css" />

<div class="content-wrapper">
	<div class="email-wrapper wrapper">
		<div class="row align-items-stretch">
			<div class="mail-list-container col-md-3 pt-4 pb-4">
				<!-- Mail search -->
				<div class="pb-4 mb-3 px-3 search-wrapper">
					<div class="form-group">
						<input
							class="form-control w-100"
							type="search"
							placeholder="Search by SchoolName, Inquiry,..."
							id="searchInput"
						/>
					</div>
				</div>
				<!-- List mail receiver -->
				<div *ngFor="let request of pageResult.items; let i = index" class="mail-list-container">
					<div
						class="mail-list"
						[ngClass]="{ new_mail: selectedMail?.id === request.id }"
						(click)="selectMail(request)"
					>
						<div class="content">
							<p class="sender-name">{{ request.school.schoolName }}</p>
							<p
								class="message_text"
								[innerHTML]="
									(request?.response?.length ?? 0) > 40
										? request?.response?.slice(0, 40) + '...'
										: request?.response
								"
							></p>
						</div>
						<div class="details">
							<i class="mdi mdi-star favorite"></i>
						</div>
					</div>
				</div>
			</div>

			<div class="mail-view d-none d-md-block col-md-6 col-lg-6">
				<!-- Existing mail view content here -->
				<div class="message-body" *ngIf="selectedMail">
					<div
						*ngIf="
							getCategoryName(selectedMail.schoolRequestCategoryId) === 'Enroll' &&
							getStatusName(selectedMail.schoolRequestStatusId) === 'Pending'
						"
						style="display: inline-block"
					>
						<button
							type="button"
							class="btn btn-sm btn-outline-secondary"
							(click)="openConfirmModal(selectedMail.id)"
						>
							<i class="mdi mdi-reply text-primary mr-1"></i> Unenroll
						</button>
						<button
							type="button"
							class="btn btn-sm btn-outline-secondary"
							(click)="openEditModal(selectedMail.id)"
						>
							<i class="mdi mdi-reply-all text-primary mr-1"></i> Edit Enroll
						</button>
					</div>
					<div
						*ngIf="
							getCategoryName(selectedMail.schoolRequestCategoryId) === 'Enroll' &&
							getStatusName(selectedMail.schoolRequestStatusId) === 'Approved'
						"
						style="display: inline-block"
					></div>

					<div class="sender-details">
						<img
							class="img-sm rounded-circle mr-3"
							src="https://i.pinimg.com/474x/3b/3f/a1/3b3fa1a2db40f8f2610b9cd691cfe8e2.jpg"
							alt=""
						/>
						<div class="details">
							<h4 style="font-weight: bold; color: #000">
								{{ getStatusName(selectedMail.schoolRequestStatusId) }}
								{{ getCategoryName(selectedMail.schoolRequestCategoryId) }} request
							</h4>
							<p class="msg-subject">{{ selectedMail.createAt | date }}</p>
							<p class="sender-email">
								{{ selectedMail.school.schoolName }} -
								<a href="#">{{ selectedMail.school.email }}</a> &nbsp;<i
									class="mdi mdi-account-multiple-plus"
								></i>
							</p>
						</div>
					</div>
					<div class="message-content">
						<p class="text-break" [innerHTML]="selectedMail.response"></p>
						<div class="school-signature">
							<p><strong>Name:</strong> {{ selectedMail?.school?.schoolName }}</p>
							<p>
								<strong>Email:</strong>
								<a href="mailto:{{ selectedMail?.school?.email }}">{{
									selectedMail?.school?.email
								}}</a>
							</p>
							<p>
								<strong>Phone:</strong>
								<a href="tel:{{ selectedMail?.school?.phone }}">{{
									selectedMail?.school?.phone
								}}</a>
							</p>
							<p><strong>Address:</strong> {{ selectedMail?.school?.specificAddress }}</p>
						</div>
					</div>
					<div class="attachments-sections">
						<ul>
							<li>
								<div class="thumb">
									<img
										src="https://w7.pngwing.com/pngs/3/495/png-transparent-avatar-of-a-teacher-male-thumbnail.png"
										alt="Avatar"
									/>
								</div>
								<div class="details">
									<p class="file-name">{{ selectedMail.fullName }}</p>
									<div class="buttons">
										<p class="file-size">{{ selectedMail.email }}</p>
										<p class="file-size">{{ selectedMail.phone }}</p>
										<p class="h5" style="color: #000" [innerHTML]="selectedMail.content"></p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-confirm-modal
	[buttonText]="'Unenroll'"
	[modalTitle]="'Unenroll School Request'"
	[modalConfirmQuestion]="'Are you sure you want to unenroll school request?'"
	(onButtonClickEvent)="unenrollSchoolRequest(selectedRequestId)"
></app-confirm-modal>

<app-edit-school-request [userSchoolData]="userSchoolData" (onSubmit)="handleEnrollmentSubmit($event)">
</app-edit-school-request>
