// .school-card {
// 	border: 2px solid #007bff;
// 	border-radius: 8px;
// 	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// 	background-color: #ffffff;
// }

// .school-card .card-body {
// 	padding: 20px;
// }

// .school-card .card-title {
// 	margin-top: 10px;
// }

// .request-card {
// 	border: 2px solid #007bff;
// 	border-radius: 8px;
// 	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// 	background-color: #ffffff;
// }

// .request-card .card-body {
// 	padding: 20px;
// }

// .request-card .status-btn {
// 	font-size: 0.9rem;
// 	padding: 0.25rem 0.5rem;
// }

// .text-primary {
// 	color: #007bff !important;
// }

// .text-muted {
// 	color: #6c757d !important;
// }

// .text-uppercase {
// 	text-transform: uppercase;
// }

// .page-link {
// 	color: #007bff;
// }

// .page-link:hover {
// 	color: #0056b3;
// }

// .page-item.active .page-link {
// 	background-color: #007bff;
// 	border-color: #007bff;
// }

// .card-title {
// 	font-weight: bold;
// }

// .card-body p {
// 	margin-bottom: 0.5rem;
// }

// #searchRequestInput {
// 	outline: 0;
// 	float: left;
// 	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
// 	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
// 	-webkit-border-radius: 4px;
// 	border-radius: 4px;
// }

// #searchRequestInput > .textbox {
// 	outline: 0;
// 	height: 42px;
// 	width: 244px;
// 	line-height: 42px;
// 	padding: 0 16px;
// 	background-color: rgba(255, 255, 255, 0.8);
// 	color: #212121;
// 	border: 0;
// 	float: left;
// 	-webkit-border-radius: 4px 0 0 4px;
// 	border-radius: 4px 0 0 4px;
// }

// #searchRequestInput > .textbox:focus {
// 	outline: 0;
// 	background-color: #fff;
// }

// #searchRequestInput > .button {
// 	outline: 0;
// 	background: none;
// 	background-color: #007bff;
// 	float: left;
// 	height: 42px;
// 	width: 42px;
// 	text-align: center;
// 	line-height: 42px;
// 	border: 0;
// 	color: #fff;
// 	font: normal normal normal 14px/1 FontAwesome;
// 	font-size: 16px;
// 	text-rendering: auto;
// 	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
// 	-webkit-transition: background-color 0.4s ease;
// 	transition: background-color 0.4s ease;
// 	-webkit-border-radius: 0 4px 4px 0;
// 	border-radius: 0 4px 4px 0;
// }

// #searchRequestInput > .button:hover {
// 	background-color: rgba(0, 150, 136, 0.8);
// }

// .btn-chatchoi {
// 	border-radius: 20px;
// 	border: 1px solid #000;
// 	background-color: #000;
// 	color: #fff;
// }

* {
	color: #000080;
	box-sizing: border-box;
}

#publicPage {
	padding: 0;
	margin: 0;
}
/* Rounded sliders */
/*-------------------------------------------------------------------*/
/* Content Wrapper */
.content-wrapper {
	background-color: #e6e6fa;
	height: 100%;
}

/* Search */
.search-wrapper {
	padding-bottom: 16px;
	margin-bottom: 24px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 8px;
}

.search-wrapper .form-group {
	position: relative;
}

.search-wrapper .form-control {
	width: 100%;
	padding: 10px 20px;
	border: 2px solid #000;
	border-radius: 25px;
	font-size: 16px;
	transition: box-shadow 0.3s;
}

.search-wrapper .form-control:focus {
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
	outline: none;
}

.search-wrapper .form-control::placeholder {
	color: #999;
}

/* Mail List Container */
.email-wrapper {
	font-family: Arial, sans-serif;
}

.email-wrapper .mail-list-container {
	height: 100%;
	padding: 0;
}

.email-wrapper .mail-list-container a {
	text-decoration: none;
	color: #333;
}

.email-wrapper .mail-list-container .mail-list {
	display: flex;
	flex-direction: row;
	padding: 25px;
	width: 100%;
	cursor: pointer;
	align-items: center;
	transition: background-color 0.3s;
	border-bottom: 1px solid #e9e9e9;
	background-color: #fff;
	border-radius: 10px;
}

.email-wrapper .mail-list-container .mail-list:hover {
	background-color: #f0f0f0;
	transform: scale(1.02);
}

.email-wrapper .mail-list-container .mail-list::before {
	content: "✉️";
	margin-right: 15px;
	font-size: 1.5em;
	color: #7d7d7d;
}

.email-wrapper .mail-list-container .mail-list .mail-subject {
	font-size: 1.2em;
	color: #333;
	font-weight: bold;
}

.email-wrapper .mail-list-container .mail-list img {
	border-radius: 50%;
	margin-right: 15px;
	width: 40px;
	height: 40px;
}

.email-wrapper .mail-list-container .mail-list .mail-info {
	display: flex;
	flex-direction: column;
}

.email-wrapper .mail-list-container .mail-list .mail-info .mail-subject {
	font-weight: bold;
	margin-bottom: 5px;
	color: #202124;
}

.email-wrapper .mail-list-container .mail-list .mail-info .mail-snippet {
	color: #5f6368;
	font-size: 14px;
}

.email-wrapper .mail-list-container .mail-list .mail-info .mail-time {
	margin-left: auto;
	color: #999;
	font-size: 12px;
}

.email-wrapper .mail-list-container .mail-list:last-child {
	border-bottom: none;
}

.email-wrapper .mail-list-container .mail-list .form-check {
	margin-top: 12px;
	width: 11%;
	min-width: 20px;
}

.email-wrapper .mail-list-container .mail-list .content {
	width: 83%;
	padding-left: 0;
	padding-right: 0;
}

.email-wrapper .mail-list-container .mail-list .content .sender-name {
	font-size: 0.75rem;
	font-weight: 400;
	max-width: 95%;
}

.email-wrapper .mail-list .content .message_text {
	margin: 0;
	max-width: 93%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.email-wrapper .mail-list-container .mail-list .details {
	width: 5.5%;
}

.email-wrapper .mail-list-container .mail-list .details .date {
	text-align: right;
	margin: auto 15px auto 0;
	white-space: nowrap;
}

.email-wrapper .mail-list-container .mail-list .details i {
	margin: auto 0;
	color: #ddd;
}

.email-wrapper .mail-list-container .mail-list .details i.favorite {
	color: #fcd539;
}

.email-wrapper .mail-list-container .mail-list.new_mail {
	background: #e6e9ed;
}

.message-body {
	max-height: 100vh;
	overflow-x: auto;
}

/* Message Content */
.email-wrapper .message-body .sender-details {
	padding: 20px 15px 0;
	border-bottom: 1px solid #e9e9e9;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.email-wrapper .message-body .sender-details .details {
	padding-bottom: 0;
}

.email-wrapper .message-body .sender-details .details .msg-subject {
	font-weight: 600;
}

.email-wrapper .message-body .sender-details .details .sender-email {
	margin-bottom: 20px;
	font-weight: 400;
}

.email-wrapper .message-body .sender-details .details .sender-email i {
	font-size: 1rem;
	font-weight: 600;
	margin: 0 1px 0 7px;
}

.email-wrapper .message-body .message-content {
	padding: 50px 15px;
}

.message-content {
	width: 100%;
	word-wrap: break-word;
	white-space: normal;
}
.attachments-sections {
  margin-top: 20px;
  padding: 15px;
  background-color: #f0f8ff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.attachments-sections ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.attachments-sections li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 2px solid #add8e6;
}

.attachments-sections .thumb {
  flex: 0 0 40px;
  margin-right: 15px;
}

.attachments-sections .thumb img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.attachments-sections .details {
  flex-grow: 1;
}

.attachments-sections .file-name {
  font-size: 16px;
  font-weight: bold;
  color: #1e90ff;
  margin-bottom: 5px;
}

.attachments-sections .buttons {
  display: flex;
  flex-direction: column;
}

.attachments-sections .file-size {
  font-size: 14px;
  color: #696969;
  margin-bottom: 3px;
}

.attachments-sections .h5 {
  color: #000;
  font-size: 14px;
}


/* Mail View */
.mail-view {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 20px;
}

.mail-view .btn-toolbar {
	display: flex;
	justify-content: flex-end;
}

.mail-view .btn {
	margin-right: 10px;
}

.mail-view .btn-outline-secondary {
	color: #007bff;
	border-color: #007bff;
}

.mail-view .btn-outline-secondary:hover {
	background-color: #007bff;
	color: #fff;
}

.mail-view .message-body {
	margin-top: 20px;
}

.mail-view .sender-details {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.mail-view .sender-details img {
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.mail-view .details {
	margin-left: 15px;
}

.mail-view .details h4 {
	font-size: 18px;
	margin: 0;
}

.mail-view .msg-subject,
.mail-view .sender-email {
	margin: 5px 0;
	color: #777;
}

.mail-view .sender-email a {
	color: #007bff;
	text-decoration: none;
}

.mail-view .attachments-sections ul {
	list-style: none;
	padding: 0;
}

.mail-view .attachments-sections li {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.mail-view .attachments-sections .thumb {
	font-size: 24px;
	color: #007bff;
	margin-right: 15px;
}

.mail-view .attachments-sections .details {
	flex: 1;
}

.mail-view .attachments-sections .file-name {
	font-weight: bold;
	color: #333;
}

.mail-view .attachments-sections .file-size {
	color: #777;
	margin: 5px 0;
}

.mail-view .attachments-sections .h5 {
	margin: 10px 0 0;
	font-weight: bold;
	color: #000;
}

/* School Signature */
.school-signature {
  margin-top: 20px;
  padding: 15px;
  border-top: 2px dashed #ffcc00;
  font-size: 14px;
  color: #555;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.school-signature p {
  margin: 8px 0;
}

.school-signature p strong {
  color: #ff9933;
}

.school-signature p a {
  color: #3399ff;
  text-decoration: none;
}

.school-signature p a:hover {
  color: #ff3399;
  text-decoration: underline;
}
