<form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
	<div class="row">
		<div class="col-sm-3">
			<label for="exampleInputName" class="mb-0">Full Name</label>
		</div>
		<div class="col-sm-9">
			<!-- <p class="text-muted mb-0">{{ userDto.fullName }}</p> -->
			<input
				type="text"
				class="form-control form-control-sm"
				id="exampleInputName"
				aria-describedby="fullNameHelp"
				name="fullName"
				[formControl]="editProfileForm.controls.fullName"
			/>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-3">
			<label for="exampleInputEmail" class="mb-0">Email</label>
		</div>
		<div class="col-sm-9">
			<input
				type="email"
				class="form-control form-control-sm"
				id="exampleInputEmail"
				aria-describedby="emailHelp"
				name="email"
				[formControl]="editProfileForm.controls.email"
			/>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-3">
			<label for="exampleInputPhone" class="mb-0">Phone</label>
		</div>
		<div class="col-sm-9">
			<input
				type="text"
				class="form-control form-control-sm"
				id="exampleInputPhone"
				aria-describedby="phoneNumberHelp"
				name="phoneNumber"
				[formControl]="editProfileForm.controls.phoneNumber"
			/>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-3">
			<label for="exampleInputGender" class="mb-0">Gender</label>
		</div>
		<div class="col-sm-9">
			<select
				class="form-control form-control-sm"
				id="exampleInputGender"
				name="gender"
				[formControl]="editProfileForm.controls.gender"
			>
				<option value="" disabled>Select gender</option>
				<option value="1">Male</option>
				<option value="0">Female</option>
			</select>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-3">
			<label for="exampleInputAddress" class="mb-0">Address</label>
		</div>
		<div class="col-sm-9">
			<input
				type="text"
				class="form-control form-control-sm"
				id="exampleInputAddress"
				aria-describedby="address"
				name="address"
				[formControl]="editProfileForm.controls.address"
			/>
		</div>
	</div>
	<hr />
	<button type="submit" class="btn btn-primary">Save changes</button>
</form>
