<div *ngIf="isShow" class="modal-overlay">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Enrollment</h5>
			<button type="button" class="close" (click)="close()">×</button>
		</div>
		<div class="modal-body">
			<p>Please check your details below and confirm to submit the request.</p>
			<form [formGroup]="form" (ngSubmit)="submit()">
				<div class="form-group">
					<label for="fullName">Full Name</label>
					<input id="fullName" class="form-control" type="text" [formControl]="form.controls.fullName" />
				</div>

				<div class="form-group">
					<label for="email">Email address</label>
					<input
						id="email"
						class="form-control"
						type="email"
						[formControl]="form.controls.email"
						placeholder="info@xyz.com"
					/>
					<div
						*ngIf="form.controls.email.touched && form.controls.email.hasError('required')"
						class="text-danger"
					>
						Valid email is required.
					</div>

					<div *ngIf="form.controls.email.hasError('email')" class="text-danger">
						Invalid email format.
					</div>
				</div>

				<div class="form-group">
					<label for="dob">Date of birth</label>
					<input id="dob" class="form-control" type="date" [formControl]="form.controls.dob" />
				</div>

				<div class="form-group">
					<label for="mobileNo">Mobile No.</label>
					<input
						id="mobileNo"
						class="form-control"
						type="text"
						[formControl]="form.controls.phoneNumber"
					/>
				</div>

				<div class="form-group">
					<label for="address">Address</label>
					<input id="address" class="form-control" type="text" [formControl]="form.controls.address" />

					<div
						*ngIf="form.controls.address.touched && form.controls.address.hasError('required')"
						class="text-danger"
					>
						Valid address is required.
					</div>
				</div>

				<div class="form-group">
					<label for="enrolledSchool">Enrolled School</label>
					<input
						id="enrolledSchool"
						class="form-control"
						type="text"
						[formControl]="form.controls.enrolledSchool"
					/>
				</div>

				<div class="form-group">
					<label for="inquiry">Content</label>
					<!-- <textarea
						id="inquiry"
						class="form-control"
						[formControl]="form.controls.inquiry"
						placeholder="Enter your enrollment content details"
						maxlength="4000"
					></textarea> -->

					<ckeditor [editor]="editor" [formControl]="form.controls.inquiry"></ckeditor>

					<div
						*ngIf="form.controls.inquiry.touched && form.controls.inquiry.hasError('required')"
						class="text-danger"
					>
						Valid content is required.
					</div>
				</div>

				<p class="instruction">
					Our staff will contact you within 24 hrs. If you need urgent assistance, please contact us via
					our hotline <a href="/">0968242456</a>
				</p>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- <div class="col-sm-4">
			<div id="searchRequestInput" style="float: right">
				<input
					type="text"
					class="textbox"
					id="searchInput"
					placeholder="Search by SchoolName, Inquiry,..."
				/>
				<input title="Search" value="" type="submit" class="button" (click)="onSearchButtonClick()" />
			</div>
		</div>

        <div class="col-sm-3">
            <input type="date" class="form-control" id="fromDate" (change)="onFromDateChange($event)" />
        </div>
        <div class="col-sm-3">
            <input type="date" class="form-control" id="endDate" (change)="onEndDateChange($event)" />
        </div>
		<div class="col-sm-2">
			<select id="createAtSelectFilter" class="form-control" (change)="onCreateAtFilterChange($event)">
				<option value="desc" selected>Newest</option>
				<option value="asc">Oldest</option>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h2>All Requests</h2>
			<div *ngFor="let request of pageResult.items; let i = index" class="row mb-4">
				<div class="col-md-6">
					<div class="card request-card">
						<div class="card-body">
							<div class="d-flex justify-content-between align-items-center mb-2">
								<div class="col-md-6" style="padding: 0; margin: 0">
									<h3>
										{{
											(request.createAt != undefined ? request.createAt.toString() : "")
												| dateFormat : formatDateType
										}}
									</h3>
								</div>

								<div class="col-md-6">
									<div class="float-right">
										<button
											class="btn status-btn mr-3 btn-chatchoi"

										>
											{{ getCategoryName(request.schoolRequestCategoryId) }}
										</button>
										<button
											class="btn status-btn btn-chatchoi text-dark bg-white"

										>
											{{ getStatusName(request.schoolRequestStatusId) }}
										</button>
									</div>
								</div>
							</div>
							<h6 class="text-primary">Request Information:</h6>
							<p><strong>Full Name:</strong> {{ request.fullName }}</p>
							<p><strong>Email address:</strong> {{ request.email }}</p>
							<p><strong>Phone number:</strong> {{ request.phone }}</p>
							<p><strong>Inquiry:</strong> {{ request.content }}</p>
							<p
							>
								<strong>Response:</strong> {{ request.response }}
							</p>
							<div
								*ngIf="
									(getCategoryName(request.schoolRequestCategoryId) === 'Enroll' &&
									getStatusName(request.schoolRequestStatusId) === 'Pending' )||
									(getCategoryName(request.schoolRequestCategoryId) === 'Enroll' &&
									getStatusName(request.schoolRequestStatusId) === 'Approved' )
								"
							>
								<button class="btn-chatchoi" (click)="openConfirmModal(request.id)">
									Unenroll
								</button>
							</div>
							<div *ngIf="getStatusName(request.schoolRequestStatusId) === 'Pending'">
								<button class="btn btn-danger" (click)="openEditModal(request.id)">Edit</button>
							</div>
							<p class="text-muted mt-2">
								Our staff will contact with you within 24 hrs. If you need urgent assistance,
								please contact us via our hotline <a href="tel:09123456789">09123456789</a>.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card school-card">
						<div class="card-body">
							<h6 class="text-primary">School Summary</h6>
							<h4
								class="card-title text-primary"
								style="text-decoration: underline; cursor: pointer"
							>
								{{ request.school.schoolName }}
							</h4>
							<p><app-rating [numberRating]="request.school.rating"></app-rating></p>
							<p>
								<i class="fas fa-map-marker-alt"></i> Address: {{ request.school.specificAddress }}
							</p>
							<p>
								<i class="fas fa-globe"></i> Website:
								<a [href]="request.school.website" target="_blank">{{ request.school.website }}</a>
							</p>
							<p>
								<i class="fas fa-money-bill-wave"></i> Tuition fee: {{ request.school.feeFrom | currency: 'VND'}} -
								{{ request.school.feeTo | currency: 'VND'}}
							</p>
							<p><i class="fas fa-child"></i> Admission age: {{request.school.childSchoolReceiveAge}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
