h1,
h2,
h3,
h4,
h5,
h6 {
	color: #3c3c3c;
	font-family: "Grand Hotel", cursive;
	text-transform: capitalize;
	font-weight: 400;
	line-height: 3rem;
	letter-spacing: 0.0675rem;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.padding-medium {
	padding-top: 10em;
	padding-bottom: 10em;
}

.modal-content {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	width: 500px;
	max-width: 90%;
	max-height: 94vh;
	overflow-y: auto;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	font-family: "Arial", sans-serif;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.modal-title {
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

.modal-body {
	font-size: 14px;
	color: #666;
}

.modal-body p {
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 15px;
}

.form-control {
	width: 100%;
	padding: 10px;
	border: 1px solid #ced4da;
	border-radius: 5px;
	font-size: 14px;
	color: #333;
}

.text-danger {
	color: #dc3545;
	font-size: 12px;
	margin-top: 5px;
}

.instruction {
	font-size: 12px;
	color: #666;
	margin-top: 10px;
}

.modal-footer {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #e5e5e5;
	padding-top: 10px;
	margin-top: 20px;
}

.btn {
	padding: 10px 20px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn-secondary {
	background-color: #f1f1f1;
	color: #333;
}

.btn-primary {
	background-color: #007bff;
	color: white;
}

.btn:hover {
	opacity: 0.8;
}

.close {
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
}
