<div class="row justify-content-center">
	<div class="col-xl-8 col-lg-8 col-md-6">
		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row justify-content-center">
					<div>
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">Confirm Email</h1>
							</div>
							<hr />
							<h3 class="text-center" [ngStyle]="{ color: success ? 'green' : 'red' }">
								{{ message }}.
							</h3>
							<p class="text-center">Please <a routerLink="/auth/login">Click to Login</a>.</p>
							<hr />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
