<app-modal
	[buttonText]="buttonText"
	[modalTitle]="modalTitle"
	[modalConfirmQuestion]="modalConfirmQuestion"
	[buttonColor]="isCancelButtonClick() ? 'btn-danger' : 'btn-primary'"
	(onButtonClickEvent)="isCancelButtonClick() ? onCancelButtonClick() : onSubmitForm()"
></app-modal>
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Create User</h6>
	</div>
	<div class="card-body">
		<form
			class="form-valide d-flex flex-wrap"
			[formGroup]="updateUserForm"
			enctype="multipart/form-data"
			method="post"
		>
			<!--Avatar-->
			<div class="col-lg-3 col-md-4 col-12">
				<div class="d-flex justify-content-center mb-2">
					<img
						id="selectedAvatar"
						[src]="Image ? Image : 'https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg'"
						class="rounded"
						style="width: 150px; height: 150px; object-fit: cover"
						alt="example placeholder"
					/>
				</div>
				<div class="d-flex justify-content-center">
					<div>
						<label class="btn btn-info btn-rounded form-label text-white m-1" for="customFile2"
							><i class="fa-regular fa-image" style="color: #ffffff"></i> Select Image</label
						>
						<input
							type="file"
							name="Avatar"
							(change)="displaySelectedImage($event, 'selectedAvatar')"
							class="form-control d-none"
							id="customFile2"
						/>
					</div>
				</div>
			</div>
			<div class="form-validation col-lg-9 col-md-8 col-12">
				<div class="form-group row is-invalid">
					<label class="col-lg-4 col-form-label fw-bold" for="val-website">
						Full name<span class="text-danger">*</span>
					</label>
					<div class="col-lg-6">
						<input
							type="text"
							name="FirstName"
							class="form-control"
							id="val-website"
							[formControl]="updateUserForm.controls.fullName"
							placeholder="Enter full name..."
							aria-required="true"
							aria-describedby="val-website-error"
						/>
						@if(updateUserForm.controls.fullName.hasError('required') &&
						updateUserForm.controls.fullName.touched){
						<span class="text-danger">Full Name is required</span>
						}
					</div>
				</div>

				<div class="form-group row is-invalid">
					<label class="col-lg-4 col-form-label fw-bold" for="val-website">
						Birth day <span class="text-danger">*</span>
					</label>
					<div class="col-lg-6">
						<input
							type="date"
							name="Dob"
							class="form-control"
							[formControl]="updateUserForm.controls.birthDay"
							placeholder="ngày sinh"
						/>
						@if(updateUserForm.controls.birthDay.hasError('required') &&
						updateUserForm.controls.birthDay.touched){
						<span class="text-danger">Birth day is required</span>
						}
					</div>
				</div>

				<div class="form-group row is-invalid">
					<label class="col-lg-4 col-form-label fw-bold" for="val-website">
						Address<span class="text-danger">*</span>
					</label>
					<div class="col-lg-6">
						<input
							type="text"
							name="Address"
							class="form-control"
							id="val-website"
							[formControl]="updateUserForm.controls.address"
							placeholder="Enter address..."
							aria-required="true"
							aria-describedby="val-website-error"
						/>
						@if(updateUserForm.controls.address.hasError('required') &&
						updateUserForm.controls.address.touched){
						<span class="text-danger">Address is required</span>
						}
					</div>
				</div>
				<div class="form-group row is-invalid">
					<label class="col-lg-4 col-form-label fw-bold" for="val-website">
						Gender <span class="text-danger">*</span>
					</label>
					<div class="col-lg-6 d-flex align-items-center">
						<label class="mx-3">
							<input
								type="radio"
								[formControl]="updateUserForm.controls.gender"
								name="Gender"
								value="1"
								checked
							/>
							Male
						</label>
						<label>
							<input
								type="radio"
								[formControl]="updateUserForm.controls.gender"
								name="Gender"
								value="0"
							/>
							Female
						</label>
					</div>
				</div>
				<div class="form-group row is-invalid">
					<label class="col-lg-4 col-form-label fw-bold" for="val-phoneus">
						Phone<span class="text-danger">*</span>
					</label>
					<div class="col-lg-6">
						<input
							type="text"
							name="PhoneNumber"
							class="form-control"
							id="val-phoneus"
							[formControl]="updateUserForm.controls.phone"
							placeholder="Enter phone.."
							aria-required="true"
							aria-describedby="val-phoneus-error"
						/>
						@if(updateUserForm.controls.phone.hasError('required') &&
						updateUserForm.controls.phone.touched){
						<span class="text-danger">Phone day is required</span>
						}
					</div>
				</div>
				<div class="form-group row is-invalid">
					<label class="col-lg-4 col-form-label fw-bold" for="val-phoneus"> Status </label>
					<div class="col-lg-6">
						<!-- <select2 [data]="listRole" ></select2> -->
						<select
							name="Status"
							class="form-control"
							title="Status"
							[formControl]="updateUserForm.controls.isActive"
						>
							<option value="1">Active</option>
							<option value="0">Deactive</option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-lg-8 ml-auto">
						<button
							type="button"
							data-bs-toggle="modal"
							data-bs-target="#modalConfirm"
							class="btn btn-secondary mr-2 mb-2"
							(click)="isCancelButtonClick.set(true)"
						>
							<i class="fa-solid fa-xmark" style="color: #ffffff"></i> Cancel
						</button>
						<button
							type="button"
							class="btn btn-primary mb-2"
							data-bs-toggle="modal"
							data-bs-target="#modalConfirm"
							(click)="triggerAllFormError()"
						>
							<i class="fa-regular fa-floppy-disk" style="color: #ffffff"></i> Edit User
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script></script>
