@for (item of createRange(numberRating); track $index) {
<i class="fa-solid fa-star" style="color: #ffd43b; width: 18px; height: 18px"></i>

} @if(isDecimal(numberRating)){
<i class="fas fa-star-half-alt" style="color: #ffd43b; width: 18px; height: 18px"></i>
} @if(unRateStart>0){ @for(item of createRange(unRateStart);track $index){

<i class="fa-regular fa-star" style="color: #ffd43b; width: 18px; height: 18px"></i>
} }
