.star {
	margin: 0px 0px;
	color: #a9a5a5;
	display: inline-block;
	cursor: pointer;
	transition: all 0.3s;
	transform: scale(1);
}
.star .mat-icon {
	width: 40px;
	height: 40px;
}
.star-gold {
	color: orange;
}

/* make all stars orange*/
.star-rating-animation:hover .star-hover {
	color: orange;
}
/* make all stars right from selected gray*/
.star-rating-animation .star-hover:hover ~ .star-hover {
	color: #ddd;
}
.star-rating-animation .star-hover:hover {
	transform: scale(1.3);
}
