<footer class="sticky-footer bg-white mt-1">
	<div class="container my-auto">
		<div class="copyright text-center my-auto">
			<span>Copyright &copy; Your Website 2024, the current date is: {{ currentDate }}</span>
		</div>
	</div>
</footer>
