<div class="text-dark">
	<h3 class="fw-bold">Average ratings</h3>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="text-center">Average ratings</h4>
				<div class="d-flex justify-content-between align-items-center">
					<div>
						<h5>4.5 Stars (120 Ratings)</h5>
						<span class="star-rating">★★★★☆</span>
					</div>
				</div>
				<div class="mt-3">
					<div class="d-flex justify-content-between">
						<span>Learning program:</span>
						<div class="rating-bar">
							<div class="rating-fill" style="width: 100%"></div>
						</div>
						<span>(5/5)</span>
					</div>
					<div class="d-flex justify-content-between">
						<span>Facilities and Utilities:</span>
						<div class="rating-bar">
							<div class="rating-fill" style="width: 80%"></div>
						</div>
						<span>(4/5)</span>
					</div>
					<div class="d-flex justify-content-between">
						<span>Extracurricular Activities:</span>
						<div class="rating-bar">
							<div class="rating-fill" style="width: 80%"></div>
						</div>
						<span>(4/5)</span>
					</div>
					<div class="d-flex justify-content-between">
						<span>Teachers and Staff:</span>
						<div class="rating-bar">
							<div class="rating-fill" style="width: 80%"></div>
						</div>
						<span>(4/5)</span>
					</div>
					<div class="d-flex justify-content-between">
						<span>Hygiene and Nutrition:</span>
						<div class="rating-bar">
							<div class="rating-fill" style="width: 100%"></div>
						</div>
						<span>(5/5)</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-md-12">
				<h4>Details</h4>
				<div class="btn-group" role="group" aria-label="Ratings Filter">
					<button type="button" class="btn btn-warning">All</button>
					<button type="button" class="btn btn-outline-warning">5 ★</button>
					<button type="button" class="btn btn-outline-warning">4 ★</button>
					<button type="button" class="btn btn-outline-warning">3 ★</button>
					<button type="button" class="btn btn-outline-warning">2 ★</button>
					<button type="button" class="btn btn-outline-warning">1 ★</button>
				</div>
			</div>
		</div>
	</div>
</div>
