@defer {
<div class="text-dark">
	<h3 class="fw-bold">School Introduction</h3>

	<p class="text-break" [innerHTML]="schoolDetail.schoolIntroduce"></p>

	<h4 class="fw-bold mt-4">Facilities</h4>
	<div class="form-group row align-items-center">
		<div class="col-sm-8 row">
			@for (item of facilities; track $index) {
			<div class="col-sm-4 col">
				<div class="form-check">
					<input
						class="form-check-input"
						disabled
						type="checkbox"
						[checked]="getCheckedFacilities(item!)"
					/>
					<label class="form-check-label" style="color: black"> {{ item }} </label>
				</div>
			</div>
			}
		</div>
	</div>

	<h4 class="fw-bold mt-4">Utilities</h4>
	<div class="form-group row align-items-center">
		<div class="col-sm-8 row">
			@for (item of utilities; track $index) {
			<div class="col-sm-4 col">
				<div class="form-check">
					<input
						class="form-check-input"
						disabled
						type="checkbox"
						[checked]="getCheckedUtilities(item!)"
					/>
					<label class="form-check-label" style="color: black">{{ item }} </label>
				</div>
			</div>
			}
		</div>
	</div>
</div>

}
