<div class="row justify-content-center">
	<div class="col-xl-8 col-lg-8 col-md-6">
		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div class="p-5">
						<div class="text-center">
							<h1 class="h4 text-gray-900 mb-4">Register</h1>
						</div>
						<hr />
						<form class="user" [formGroup]="registerForm" enctype="multipart/form-data" method="post">
							<div class="form-group">
								<input
									type="text"
									name="FirstName"
									class="form-control form-control-user"
									id="val-website"
									[formControl]="registerForm.controls.fullName"
									placeholder="Enter full name..."
									aria-required="true"
									aria-describedby="val-website-error"
								/>
								@if(registerForm.controls.fullName.hasError('required') &&
								registerForm.controls.fullName.touched){
								<span class="text-danger">Full Name is required</span>
								}
							</div>
							<div class="form-group">
								<input
									type="text"
									name="Email"
									class="form-control form-control-user"
									id="val-email"
									placeholder="Enter email..."
									[formControl]="registerForm.controls.email"
									aria-required="true"
									aria-describedby="val-email-error"
								/>
								@if(registerForm.controls.email.hasError('required') &&
								registerForm.controls.email.touched){
								<span class="text-danger">Email is required</span>
								} @else if(registerForm.controls.email.hasError('email') &&
								registerForm.controls.email.touched) {
								<span class="text-danger">Email is correct format</span>
								}
							</div>
							<div class="form-group">
								<input
									type="text"
									name="PhoneNumber"
									class="form-control form-control-user"
									id="val-phoneus"
									[formControl]="registerForm.controls.phone"
									placeholder="Enter phone.."
									aria-required="true"
									aria-describedby="val-phoneus-error"
								/>
								@if(registerForm.controls.phone.hasError('required') &&
								registerForm.controls.phone.touched){
								<span class="text-danger">Phone day is required</span>
								}
							</div>
							<div class="form-group">
								<input
									type="password"
									name="Password"
									class="form-control form-control-user"
									id="val-password"
									[formControl]="registerForm.controls.password"
									placeholder="Enter password..."
									aria-required="true"
									aria-describedby="val-password-error"
								/>
								@if(registerForm.controls.password.hasError('required') &&
								registerForm.controls.password.touched){
								<span class="text-danger">Password is required</span>
								} @else if(registerForm.controls.password.hasError('min') &&
								registerForm.controls.password.touched) {
								<span class="text-danger">Password has min lenght is 6 </span>
								} @else if(registerForm.controls.password.hasError('pattern') &&
								registerForm.controls.password.touched){
								<span class="text-danger"
									>Password has 1 uppercase, 1 lower case, 1 digit, 1 special character</span
								>
								}
							</div>
							<div class="form-group">
								<input
									type="password"
									name="ConfirmPassword"
									class="form-control form-control-user"
									id="val-confirm-password"
									[formControl]="registerForm.controls.rePassword"
									placeholder="Enter confirm password..."
									aria-required="true"
									aria-describedby="val-confirm-password-error"
								/>
								@if(registerForm.controls.rePassword.hasError('required') &&
								registerForm.controls.rePassword.touched){
								<span class="text-danger">Confirm Password is required</span>
								} @else if(registerForm.getError('rePassword') &&
								registerForm.controls.rePassword.touched) {
								<span class="text-danger">Confirm password must be match password </span>
								}
							</div>
							<div class="row">
								<div class="col-md-6">
									<a
										(click)="onCancelButtonClick()"
										class="btn btn-user btn-secondary btn-block"
									>
										Cancel
									</a>
								</div>
								<div class="col-md-6">
									<button
										(click)="onSubmitForm()"
										type="button"
										class="btn btn-primary btn-user btn-block"
									>
										Register
									</button>
								</div>
							</div>
						</form>
						<hr />
						<div class="text-center">
							Already have an account?
							<a class="medium" href="auth/login"> Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
