@if (pageResult.pageCount! > 1) {
<ul class="pagination justify-content-end">
	@if (pageResult.pageIndex != startIndex) {
	<li class="page-item pe-auto" (click)="changePage(1)">
		<a href="#" class="page-link" title="1" (click)="onLinkClick($event, 1)">First</a>
	</li>
	<li class="page-item pe-auto" (click)="changePage(pageResult.pageIndex! - 1)">
		<a href="#" class="page-link" (click)="onLinkClick($event, pageResult.pageIndex! - 1)">Previous</a>
	</li>
	} @for (item of createRange(finishIndex); track $index) { @if ($index == (pageResult.pageIndex! - 1)) {
	<li class="page-item active">
		<a href="#" class="page-link" (click)="onLinkClick($event, pageResult.pageIndex!)"
			>{{ $index + 1 }} <span class="sr-only">(current)</span></a
		>
	</li>
	} @else {
	<li class="page-item">
		<a href="#" class="page-link" (click)="onLinkClick($event, $index + 1)"> {{ $index + 1 }}</a>
	</li>
	} } @if (pageResult.pageIndex! != finishIndex) {
	<li class="page-item">
		<a href="#" class="page-link" (click)="onLinkClick($event, pageResult.pageIndex! + 1)">Next</a>
	</li>
	<li class="page-item">
		<a href="#" class="page-link" (click)="onLinkClick($event, pageResult.pageCount!)">End</a>
	</li>
	}
</ul>
}
