<div *ngIf="userDetail | async as userDetail">
	<div class="row shadow">
		<div class="col-lg-5 col-xl-4">
			<div class="card">
				<div class="card-body">
					<div class="media align-items-center mb-4">
						<img
							class="mr-3 rounded-circle"
							[src]="
								userDetail.avatar
									? 'data:image/png;base64,' + userDetail.avatar
									: 'https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg'
							"
							width="80"
							height="80"
							alt=""
						/>

						<div class="media-body">
							<h3 class="mb-0">{{ userDetail.fullName }}</h3>
						</div>
					</div>
					<ul class="card-profile__info">
						<li class="mb-1">
							<strong class="text-dark mr-4">Role</strong> <span>{{ userDetail.roleName }}</span>
						</li>
						<li class="mb-1">
							<strong class="text-dark mr-4">Phone</strong> <span>{{ userDetail.phoneNumber }}</span>
						</li>
						<li>
							<strong class="text-dark mr-4">Email</strong> <span>{{ userDetail.email }}</span>
						</li>
					</ul>
				</div>
			</div>

			<a class="nav-item btn btn-primary my-2" (click)="onBackButtonClick()">
				<i class="fa-solid fa-arrow-left" style="color: #ffffff"></i> Back
			</a>
		</div>
		<div class="col-lg-7 col-xl-8">
			<div>
				<div class="card">
					<div class="card-body">
						<!-- Nav tabs -->
						<div class="custom-tab-1">
							<ul class="nav nav-tabs mb-3">
								<li class="nav-item">
									<a class="nav-link active show" data-toggle="tab" href="#home1"
										>Detail information</a
									>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane fade active show" id="home1" role="tabpanel">
									<div class="p-t-15">
										<div class="table-responsive">
											<table class="table table-striped">
												<tbody>
													<tr>
														<th>Full name</th>
														<td>{{ userDetail.fullName }}</td>
													</tr>
													<tr>
														<th>Gender</th>
														<td>
															<span>{{
																userDetail.gender == 1 ? "Nam" : "Nữ"
															}}</span>
														</td>
													</tr>
													<tr>
														<th>Date of birth</th>
														<td>
															{{ datePipe.transform(userDetail.dob!, "dd/MM/yyyy") }}
														</td>
													</tr>
													<tr>
														<th>Address</th>
														<td>{{ userDetail.address }}</td>
													</tr>
													<tr>
														<th>Phone</th>
														<td>{{ userDetail.phoneNumber }}</td>
													</tr>
													<tr>
														<th>Email</th>
														<td>{{ userDetail.email }}</td>
													</tr>
													<tr>
														<th>Role</th>
														<td>{{ userDetail.roleName }}</td>
													</tr>
													<tr>
														<th>Created At</th>
														<td>
															{{
																datePipe.transform(
																	userDetail.createAt,
																	"dd/MM/yyyy"
																)
															}}
														</td>
													</tr>
													<tr>
														<th>Updated At</th>
														<td>
															{{
																datePipe.transform(
																	userDetail.updateAt,
																	"dd/MM/yyyy"
																)
															}}
														</td>
													</tr>
													<tr>
														<button *ngIf="userDetail.enrollSchoolId" class="btn btn-danger" (click)="openUnenrollModal(userDetail.enrollSchoolId)">Unenroll Parent</button>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-unenroll-school-request-modal
	[userSchoolData]="userSchoolData"
	[userSchoolRequest]="userSchoolRequest"
	(onSubmit)="handleUnEnrollmentSubmit($event)"
/>
