.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .modal-content {
	background-color: white;
	padding: 20px;
	width: 400px;
	max-width: 90%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
  }

  .modal-footer {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	padding-top: 10px;
  }

  .btn {
	padding: 8px 16px;
	font-size: 14px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }

  .btn-secondary {
	background-color: #f1f1f1;
	color: #333;
  }

  .btn-primary {
	background-color: #007bff;
	color: white;
  }

  .btn:hover {
	opacity: 0.8;
  }

  .close {
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
  }
