<div *ngIf="showModal" class="modal-overlay">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title">{{ modalTitle }}</h5>
		<button type="button" class="close" (click)="close($event)">×</button>
	  </div>
	  <div class="modal-body">
		<p>{{ modalConfirmQuestion }}</p>
	  </div>
	  <div class="modal-footer">
		<a href="#" (click)="close($event)">No. Take me back!</a>
		<button type="button" class="btn btn-primary" (click)="onButtonClick()">{{ buttonText }}</button>
	  </div>
	</div>
  </div>
