<div class="card shadow mb-4">
	<div class="card-header py-3" style="display: flex; align-items: center; justify-content: space-between">
		<h6 class="m-0 font-weight-bold text-primary">Ratings & Feedbacks</h6>
	</div>
	<div class="card-body px-5">
		<div class="main-content">
			<div class="date-picker-container">
				<div class="date-picker">
					<label for="from-date">From</label>
					<input type="date" id="from-date" class="date-input" [(ngModel)]="fromDate" />
				</div>
				<div class="date-picker">
					<label for="to-date">To</label>
					<input type="date" id="to-date" class="date-input" [(ngModel)]="toDate" />
				</div>
				<button class="refresh-button" (click)="refreshData()">Refresh</button>
			</div>

			<div class="ratings-container">
				<div class="ratings">
					<h3>Ratings</h3>
					<div class="rating-item">
						<span>Learning Program</span>
						<div class="stars">{{ convertToStars(averageRatings["learnProgramRating"]) }}</div>
					</div>
					<div class="rating-item">
						<span>Facilities & Utilities</span>
						<div class="stars">
							{{ convertToStars(averageRatings["facilitiesAndUtilitiesRating"]) }}
						</div>
					</div>
					<div class="rating-item">
						<span>Extracurricular Activities</span>
						<div class="stars">
							{{ convertToStars(averageRatings["extracurricularActivesRating"]) }}
						</div>
					</div>
					<div class="rating-item">
						<span>Teachers & Staff</span>
						<div class="stars">{{ convertToStars(averageRatings["teacherAndStaffRating"]) }}</div>
					</div>
					<div class="rating-item">
						<span>Hygiene and Nutrition</span>
						<div class="stars">{{ convertToStars(averageRatings["hygieneAndNutrition"]) }}</div>
					</div>
				</div>
				<div class="ratings">
					<div class="average-rating">
						<h3>Average Rating</h3>
						<div class="stars">
							{{
								convertToStars(
									(averageRatings["learnProgramRating"] +
										averageRatings["facilitiesAndUtilitiesRating"] +
										averageRatings["extracurricularActivesRating"] +
										averageRatings["teacherAndStaffRating"] +
										averageRatings["hygieneAndNutrition"]) /
										5
								)
							}}
						</div>
					</div>
					<div class="number-of-feedbacks">
						<h3>No. of feedbacks</h3>
						<div class="count font-weight-bold">{{ ratingSchoolList.length }}</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="feedback-container" style="height: 300px; overflow: hidden; overflow-y: auto">
						<h3>All feedbacks</h3>
						<div *ngFor="let feedback of displayedFeedbacks" class="feedback">
							<img
								[src]="getAvatarUrl(feedback.avatar)"
								alt="User"
								class="user-img"
								loading="lazy"
							/>
							<div class="feedback-content">
								<span class="user-name">{{ feedback.username }}</span>
								<span class="feedback-time">{{ formatTimeDifference(feedback.createAt) }}</span>
								<p [innerHTML]="feedback.feedback"></p>
							</div>
						</div>
						@if(ratingSchoolList.length > 3 && displayedFeedbacks.length< ratingSchoolList.length){
						<a class="view-more" (click)="loadMoreFeedbacks()">View more feedbacks...</a>}
					</div>
				</div>
				<div class="col-md-6">
					<div class="filters-container">
						<!-- <h3>Filters</h3>
						<div class="filter-item">
							<input type="checkbox" id="star-1" />
							<label class="stars">&#9733;</label>
						</div>
						<div class="filter-item">
							<input type="checkbox" id="star-2" /> <label class="stars">&#9733;&#9733;</label>
						</div>
						<div class="filter-item">
							<input type="checkbox" id="star-3" />
							<label class="stars">&#9733;&#9733;&#9733;</label>
						</div>
						<div class="filter-item">
							<input type="checkbox" id="star-4" />
							<label class="stars">&#9733;&#9733;&#9733;&#9733;</label>
						</div>
						<div class="filter-item">
							<input type="checkbox" id="star-5" />
							<label class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</label>
						</div>
						<button type="reset" class="reset-filter">Reset</button> -->
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script>
			$(function () {
				$("#from-date, #to-date").datepicker();
			});
		</script>
	</div>
</div>
