/* styles.css */
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
}

.sidebar {
	width: 250px;
	background-color: #e0f0ff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
	text-align: center;
}

.logo {
	width: 80%;
}

.sidebar-header h1 {
	margin: 10px 0;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	margin: 20px 0;
}

nav ul li a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.sidebar-footer {
	text-align: center;
}

.user-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.main-content {
	flex: 1;
	padding: 20px;
	background-color: #fff;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.breadcrumbs {
	font-size: 0.9em;
}

.breadcrumbs a {
	text-decoration: none;
	color: #007bff;
}

.breadcrumbs span {
	color: #555;
}

.logout a {
	text-decoration: none;
	color: #007bff;
}

h2,
h3 {
	margin-top: 0;
}

.date-picker-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.date-picker {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.date-input {
	margin-top: 5px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.refresh-button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
}

.ratings-container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.ratings {
	width: 50%;
}

.rating-item,
.feedback,
.filter-item {
	margin-bottom: 10px;
}

.stars {
	color: gold;
}

.feedback-container,
.filters-container {
	margin-top: 20px;
}

.feedback-content {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.feedback-time {
	font-size: 0.9em;
	color: #888;
}

.view-more {
	text-decoration: none;
	color: #007bff;
}

.view-more:hover {
	cursor: pointer;
}

.reset-filter {
	background-color: #f4f4f4;
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 4px;
	cursor: pointer;
}
