select {
	-webkit-appearance: auto !important;
}
.search-filter {
	margin-top: 10px;
	color: rgb(88, 88, 236);
	font-size: 18px;
}
.accordion-button:focus {
	box-shadow: none !important;
	background-color: transparent !important;
	outline: none !important;
	border: none !important;
}
.accordion-button {
	box-shadow: none !important;
	background-color: transparent !important;
	outline: none !important;
	border: none !important;
	color: rgb(88, 88, 236);
	font-size: 18px;
	margin-left: 0;
	margin-right: 0;
	padding: 15px 0 2px;
}
.accordion-item {
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #ccc;
}
.accordion-body {
	padding: 10px 0;
}
.custom-control {
	padding-top: 3px;
	padding-bottom: 3px;
}
.ngx-slider .ngx-slider-pointer {
	height: 10px;
	width: 10px;
}
.search-container {
	display: flex;
	align-items: center;
	min-height: 100px;
	font-size: 15px;
	justify-content: center;
	background-color: #3e4e5e;
}
.search-box {
	display: flex;
	align-items: center;
}
.search-input {
	padding: 10px;
	display: block;
	margin-right: 10px;
	height: 100%;
	border-radius: 5px;
	width: 300px;
	outline: none;
	color: #706f6f;
	border: 2px solid #2196f3;
}

.search-select {
	display: inline-block;
	width: 150px !important;
	height: 100%;
	margin: 0 3px;
	outline: none !important;
	color: #706f6f !important;
}

.search-button {
	padding: 6px 10px;
	border: none;
	background-color: #2196f3;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	border: 1px solid #2196f3;
}
