<form [formGroup]="publicSchoolForm" (ngSubmit)="onSubmit()">
	<div class="search-container">
		<div class="search-box">
			<input
				type="text"
				class="search-input"
				placeholder="Enter a school name"
				[formControl]="publicSchoolForm.controls.schoolName"
			/>
			<ngx-select
				class="search-select"
				placeholder="City/Province"
				[allowClear]="true"
				[keepSelectedItems]="true"
				[noSanitize]="true"
				optionValueField="code"
				optionTextField="name"
				[items]="(cities | async)!"
				[(ngModel)]="getRequest.provinceId"
				(selectionChanges)="onCityChange($event)"
				[formControl]="publicSchoolForm.controls.provinceId"
			>
			</ngx-select>
			<ngx-select
				class="search-select"
				placeholder="District"
				[allowClear]="true"
				[keepSelectedItems]="true"
				[noSanitize]="true"
				optionValueField="code"
				optionTextField="name"
				[items]="(districts | async)!"
				[(ngModel)]="getRequest.districtId"
				[formControl]="publicSchoolForm.controls.districtId"
			>
			</ngx-select>

			<button class="search-button" type="submit">Search</button>
			<!-- <button class="btn btn-secondary ms-1" type="button" (click)="onResetButtonClick()">Reset</button> -->
		</div>
	</div>
	<div class="container mt-3">
		<div class="row justify-content-end text-end">
			<div>
				<span style="width: 100px; font-size: 18px; color: #000; line-height: 38px">Sort by: </span>
				<select
					class="form-control rounded border-primary"
					style="width: 180px; background-color: #fff; display: inline-block"
					[formControl]="publicSchoolForm.controls.sortBy"
					(change)="onFieldClick()"
				>
					<option value="rating">Rating</option>
					<option value="newest">Newest</option>
					<option value="feeAsc">Monthly fee | A-Z</option>
					<option value="feeDes">Monthly fee | Z-A</option>
				</select>
			</div>
		</div>
		<div class="row gy-2 gx-5 justify-content-between">
			<div class="col-lg-3 col-md-3 my-4">
				<h4 class="color-primary font-weight-bold" style="color: rgb(88, 88, 236)">Refine your search</h4>
				<div class="search-filter">
					<div>Type of school</div>
					<select
						name="Role"
						class="form-control"
						style="width: 90%"
						[formControl]="publicSchoolForm.controls.typeSchoolId"
						(change)="onFieldClick()"
					>
						<option value="">All</option>
						@for (item of schoolType ; track $index) {
						<option value="{{ item.id }}">{{ item.name }}</option>

						}
					</select>
				</div>
				<div class="search-filter">
					<div>Addmission age</div>
					<select
						name="Role"
						class="form-control"
						style="width: 90%"
						[formControl]="publicSchoolForm.controls.admissionAgeId"
						(change)="onFieldClick()"
					>
						<option value="">All</option>
						@for (item of admissionAge ; track $index) {
						<option value="{{ item.id }}">{{ item.name }}</option>

						}
					</select>
				</div>
				<div class="search-filter">
					<div>Monthly fee (VNĐ/Month)</div>
					<ngx-slider
						[(value)]="minValue"
						[(highValue)]="maxValue"
						[options]="options"
						(userChangeEnd)="onSliderChange($event.value, $event.highValue!)"
					></ngx-slider>
				</div>

				<div class="accordion" id="accordionExample" style="background-color: transparent">
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#collapseOne"
								aria-expanded="true"
								aria-controls="collapseOne"
							>
								Facilities
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse show">
							<div class="accordion-body">
								@for (item of facilities; track $index) {
								<div class="custom-control custom-checkbox">
									<input
										type="checkbox"
										class="custom-control-input"
										[id]="item.id"
										(change)="onFieldClick()"
										[formControl]="publicSchoolForm.controls.facilities.controls[$index]"
									/>

									<label class="custom-control-label" [for]="item.id">{{ item.name }}</label>
								</div>
								}
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#collapseTwo"
								aria-expanded="false"
								aria-controls="collapseTwo"
							>
								Utilities
							</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse show">
							<div class="accordion-body">
								@for (item of utilities; track $index) {
								<div class="custom-control custom-checkbox">
									<input
										type="checkbox"
										class="custom-control-input"
										[id]="item.id"
										(change)="onFieldClick()"
										[formControl]="publicSchoolForm.controls.utilities.controls[$index]"
									/>
									<label class="custom-control-label" [for]="item.id">{{ item.name }}</label>
								</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-8">
				@if(pageResult.items?.length==0){
				<h3>No school found as requested</h3>
				} @else {

				<div>
					@for (item of pageResult.items; track $index) {
					<app-list-school-item [schoolItem]="item"></app-list-school-item>
					}
					<div class="row justify-content-between">
						<div class="col-sm-12 col-md-5">
							<div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
								<app-show-entry [pageResult]="pageResult" />
							</div>
						</div>
						<div class="col-sm-12 col-md-7">
							<div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
								<app-paging
									[pageResult]="pageResult!"
									(currentPageIndex)="getCurrentPage($event)"
								></app-paging>
							</div>
						</div>
					</div>
				</div>
				}
			</div>
		</div>
	</div>
</form>
