<div class="d-flex flex-column align-items-center text-center p-3 py-5">
	<img
		alt="avatar"
		class="rounded-circle mt-5"
		width="150px"
		[src]="
			userDto.avatar
				? 'data:image/jpeg;base64,' + userDto.avatar
				: 'https://cdn-icons-png.flaticon.com/512/9187/9187604.png'
		"
	/>
	<span class="font-weight-bold mt-3">{{ userDto.fullName }}</span>
	<span class="text-black-50">{{ userDto.userName }}</span
	><span> </span>
</div>
