<div class="container rounded bg-white mt-5 mb-5">
	<div class="row">
		<div class="col-md-3 border-right">
			<profile-avatar [userDto]="userDto"></profile-avatar>
		</div>

		<div class="col-md-5 border-right">
			<div class="p-3 py-5">
				<div class="d-flex justify-content-between align-items-center mb-3">
					<div class="d-flex align-items-center text-right font-weight-bold fs-4">My Profile</div>

					@if (editComponent) {
					<button class="btn btn-outline-secondary border" (click)="toggleButton()">&nbsp;Cancel</button>
					} @else {
					<button class="btn btn-outline-primary border" (click)="toggleButton()">
						<i class="fa fa-pencil"></i>&nbsp;Edit
					</button>
					}
				</div>
				<hr />

				@if (editComponent) {
				<profile-edit [userDto]="userDto"></profile-edit>

				} @else {
				<profile-view [userDto]="userDto"></profile-view>
				}
			</div>
		</div>

		<div class="col-md-4">
			<profile-school-enrolled [userDto]="userDto"></profile-school-enrolled>
		</div>
	</div>
</div>
