<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">School reminder list</h6>
	</div>

	<div class="card-body">
		<div class="table-responsive">
			<div id="dataTableWrapper" class="dataTables_wrapper pt-1 px-1">
				<div class="row">
					<div class="col-sm-12 col-md-6"></div>

					<!-- Search -->
					<div class="col-sm-12 col-md-6">
						<div id="dataTable_filter" class="dataTables_filter text-right">
							<label>
								<div class="input-group">
									<input
										id="searchInput"
										type="text"
										class="form-control bg-light border-0 small"
										placeholder="Search for..."
										aria-label="Search"
										aria-describedby="basic-addon2"
										(input)="getAllRemindersOnInputEvent()"
									/>
									<div class="input-group-append">
										<button class="btn btn-info" type="button" (click)="onSearchButtonClick()">
											<i class="fas fa-search fa-sm"></i>
										</button>
									</div>
								</div>
							</label>
						</div>
					</div>
				</div>

				<!-- Table -->
				<div class="row">
					<table class="table table-bordered" id="dataTable" cellspacing="0">
						<thead>
							<tr>
								<th class="text-center"></th>
								<th class="text-center">School Name</th>
								<th class="text-center">Address</th>
								<th class="text-center">Phone No.</th>
								<th class="text-center">Email</th>
								<th class="text-center">Posted Date</th>
								<th class="text-center">Status</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>

						<tbody>
							@if(pageResult){

							<td colspan="8" class="text-center" *ngIf="pageResult.items?.length === 0">
								List not found
							</td>

							<tr *ngFor="let item of pageResult.items; let i = index">
								<td class="text-center">
									{{ i + startIndex }}
								</td>

								<td>
									{{ item.schoolName }}
								</td>

								<td>
									{{ item.specificAddress }}
								</td>

								<td>
									{{ item.phone }}
								</td>

								<td>
									{{ item.email }}
								</td>

								<td class="text-center">
									{{ item.postedDate?.toString()! | dateFormat : "mm/dd/yyyy" }}
								</td>

								<td class="text-center">
									<span
										style="font-size: 14px; color: rgb(250, 243, 243)"
										[className]="getStatusColor(item.schoolStatusName!)"
									>
										{{ item.schoolStatusName }}
									</span>
								</td>

								<td class="text-center">
									<a [href]="'content/school/reminders/detail?id=' + item.id">Go to review</a>
								</td>
							</tr>
							}
						</tbody>
					</table>
				</div>

				<!-- Paging -->
				<div class="row justify-content-between">
					<div class="col-sm-12 col-md-5">
						<div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
							<app-show-entry [pageResult]="pageResult" />
						</div>
					</div>

					<div class="col-sm-12 col-md-7">
						<div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
							<app-paging
								[pageResult]="pageResult!"
								(currentPageIndex)="getCurrentPage($event)"
							></app-paging>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
