<div id="wrapper">
	<div id="public-wrapper" class="d-flex flex-column">
		<div id="public" style="background-color: white !important">
			<app-header [isDisplayMarginBottom]="false" [isPublicSite]="true"> </app-header>

			<div id="publicPage" [className]="isRemoveContainerFluid() ? '' : 'container-fluid'">
				<router-outlet (activate)="getCurrentComponent($event)" />
			</div>
		</div>
	</div>
</div>
