<!-- Outer Row -->
<div class="row justify-content-center">
	<div class="col-xl-8 col-lg-8 col-md-6">
		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div>
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-2">
									Forgot Your Password?
								</h1>
								<p class="mb-4">
									We get it, stuff happens. Just enter your
									email address below and we'll send you a
									link to reset your password!
								</p>
							</div>
							<form
								class="user"
								[formGroup]="forgotPasswordForm"
								(ngSubmit)="onSubmit()"
							>
								<div class="form-group">
									<input
										required
										type="email"
										class="form-control form-control-user"
										id="exampleInputEmail"
										aria-describedby="emailHelp"
										placeholder="Enter Email Address..."
										[formControl]="
											forgotPasswordForm.controls.email
										"
									/>
								</div>
								<button
									href="#"
									class="btn btn-primary btn-user btn-block"
									type="submit"
								>
									Reset Password
								</button>
							</form>
							<hr />
							<div class="text-center">
								<a class="" href="auth/register"
									>Create an Account</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
