.item-infor {
	padding: 1px 0;
	color: #000;
	font-size: 14px;
}
.school-name,
.item-infor > .col-lg-8 {
	width: 100%; /* Độ rộng của khung chứa */
	white-space: nowrap; /* Không cho phép xuống dòng */
	overflow: hidden; /* Ẩn phần văn bản tràn ra ngoài */
	text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi văn bản quá dài */
}
.item-faclities > .col-lg-8 {
	overflow: unset;
	text-wrap: wrap;
}
.underline-text {
	text-decoration: underline;
}

.to-detail:hover {
	cursor: pointer;
}
