<div class="row align-items-center bg-white shadow border rounded border-primary my-4 border-4 p-2">
	<div class="col-lg-5 col-md-6 col-12">
		<a [href]="'/public/school/detail?id=' + schoolItem.id">
			<img
				style="width: 100%; height: calc(100% - 30px); object-fit: cover"
				class="img-thumbnail to-detail"
				[src]="imageUrl(schoolItem.images)"
				[alt]="schoolItem.schoolName"
				loading="lazy"
			/>
		</a>
		<div class="school-rating" style="height: 18px; margin-top: 5px">
			<app-rating [numberRating]="totalRating"></app-rating>
			{{ totalRating }}/5 ({{ schoolItem.ratings.length }}ratings)
		</div>
	</div>
	<div class="col-lg-7 col-md-6 col-12">
		<div class="school-tile" style="display: flex; justify-content: space-between">
			<h3 class="school-name">
				<a [href]="'/public/school/detail?id=' + schoolItem.id" class="underline-text to-detail">
					{{ schoolItem.schoolName }}</a
				>
			</h3>
		</div>
		<div class="row item-infor item-address">
			<div class="col-lg-4 col-md-4">
				<i class="fa-solid fa-location-dot" style="height: 20px; width: 20px"></i> Address
			</div>
			<div class="col-lg-8 col-md-8">{{ schoolItem.specificAddress }}</div>
		</div>
		<div class="row item-infor item-address">
			<div class="col-lg-4 col-md-4">
				<i class="fa-solid fa-earth-americas" style="height: 20px; width: 20px"></i> Website
			</div>
			<div class="col-lg-8 col-md-8">
				<a [href]="schoolItem.website">{{ schoolItem.website }}</a>
			</div>
		</div>
		<div class="row item-infor item-address">
			<div class="col-lg-4 col-md-4">
				<i class="fa-solid fa-circle-dollar-to-slot" style="height: 20px; width: 20px"></i> Tuition Fee
			</div>
			<div class="col-lg-8 col-md-8">
				From {{ formatter.format(schoolItem.feeFrom).replace("đ", "VNĐ") }}
			</div>
		</div>
		<div class="row item-infor item-address">
			<div class="col-lg-4 col-md-4">
				<i class="fa-solid fa-book-bookmark" style="height: 20px; width: 20px"></i> Admission age
			</div>
			<div class="col-lg-8 col-md-8">From {{ schoolItem.receivingAge.name }}</div>
		</div>
		<div class="row item-infor item-address">
			<div class="col-lg-4 col-md-4">
				<i class="fa-solid fa-building-columns" style="height: 20px; width: 20px"></i> School type
			</div>
			<div class="col-lg-8 col-md-8">{{ schoolItem.schoolType.name }}</div>
		</div>
		<div class="row item-infor item-faclities">
			<div class="col-lg-4 col-md-4">
				<i class="fa-solid fa-lightbulb" style="height: 20px; width: 20px"></i> Facilities & Utilities
			</div>
			<div class="col-lg-8 col-md-8">
				@for (item of schoolItem.facilities; track $index) {
				<span class="badge badge-primary m-1">{{ item.name }}</span>
				} @for (item of schoolItem.utilities; track $index) {
				<span class="badge badge-primary m-1">{{ item.name }}</span>
				}
			</div>
		</div>
	</div>
</div>
