<!-- Outer Row -->
<div class="row justify-content-center">
	<div class="col-xl-8 col-lg-8 col-md-6">
		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div>
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-2">Reset Password</h1>
								<p class="mb-4">Please set your new password</p>
							</div>
							<form class="user" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
								<div class="form-group">
									<input
										type="password"
										class="form-control form-control-user"
										id="exampleInputEmail"
										placeholder="Enter Password..."
										[formControl]="resetPasswordForm.controls.password"
									/>
								</div>
								<div class="form-group">
									<input
										type="password"
										class="form-control form-control-user"
										id="exampleInputConfirmEmail"
										placeholder="Confirm Password..."
										[formControl]="resetPasswordForm.controls.confirmPassword"
									/>
								</div>
								<button type="submit" class="btn btn-primary btn-user btn-block">Reset</button>
								<a href="auth/login" class="btn btn-secondary btn-user btn-block"> Cancel </a>
							</form>
							<hr />
							<div class="text-center">
								<a class="small" href="auth/register">Create an Account!</a>
							</div>
							<div class="text-center">
								<a class="small" href="auth/login">Already have an account? Login!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
