<app-modal
	[buttonText]="buttonText"
	[modalTitle]="modalTitle"
	[modalConfirmQuestion]="modalConfirmQuestion"
	[buttonColor]="'btn-danger'"
	(onButtonClickEvent)="deleteUser()"
></app-modal>
<!-- Table -->

<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">List User</h6>
	</div>

	<div class="card-body">
		<div class="table-responsive">
			<div id="dataTable_wrapper" class="dataTables_wrapper pt-1 px-1">
				<!-- Create button and search -->
				<div class="row my-2">
					<!-- Create button -->

					<div class="col-sm-12 col-md-6">
						<div class="dataTables_length">
							<button class="btn btn-primary btn-icon-split" (click)="onCreateButtonClick()">
								<span class="icon text-white-50">
									<i class="fas fa-add"></i>
								</span>
								<span class="text">Create</span>
							</button>
						</div>
					</div>

					<!-- Seatch -->
					<div class="col-sm-12 col-md-6">
						<div id="dataTable_filter" class="dataTables_filter text-right">
							<div class="row">
								<select
									name="Role"
									class="form-control col-md-4"
									title="Role"
									(change)="SearchRole($event)"
								>
									<option class="text-center" value="0">-- Select role --</option>
									@for (item of listRole | async; track $index) { @if(item.name!="SuperAdmin") {
									<option value="{{ item.id }}">{{ item.name }}</option>

									} }
								</select>
								<div class="input-group col-md-8">
									<input
										id="searchInput"
										type="text"
										class="form-control bg-light border-0 small"
										placeholder="Search for..."
										aria-label="Search"
										aria-describedby="basic-addon2"
									/>
									<div class="input-group-append">
										<button class="btn btn-info" type="button" (click)="onSearchButtonClick()">
											<i class="fas fa-search fa-sm"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Table -->
				<div class="row">
					<table class="table table-bordered" id="dataTable" cellspacing="0">
						<thead>
							<tr>
								<th class="text-center"></th>

								@for (heading of UserHeaders; track $index) {
								<th class="text-center">
									{{ heading }}
								</th>

								}
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						@if (pageResult!==null) {
						<tbody *ngIf="pageResult | async as pageResult">
							{{
								calculateStartIndex(pageResult)
							}}

							@if(pageResult.items?.length === 0){
							<span class="d-inline-block m-2">Not found!</span>
							}@else { @for (data of pageResult.items; track $index) {

							<tr>
								<td class="text-center">
									{{ $index + (pageResult.pageIndex! - 1) * pageResult.pageSize! + 1 }}
								</td>

								@for (key of UserKeys; track $index) {

								<td>
									@if(key ==='isActive'){
									<div class="form-switch">
										<input
											class="form-check-input"
											type="checkbox"
											role="switch"
											id="flexSwitchCheckChecked"
											[checked]="$any(data[key])"
											(change)="changeStatus(data.id, $event)"
										/>
									</div>

									<!-- @if($any(data[key])) {

									<span class="badge badge-success">Active</span>
									}@else{
									<span class="badge badge-secondary">Deactive</span>
									} -->
									} @else if(key ==='emailConfirmed'){ @if($any(data[key])) {
									<span class="badge badge-success">Verify</span>
									}@else{
									<span class="badge badge-secondary">Not verify</span>
									} } @else if(key === "roleName"){
									<span>{{ splitCamelCase($any(data[key])) }}</span>
									} @else if(key ==='avatar'){ @if($any(data[key])){
									<div style="width: 100px; height: 70px">
										<img
											style="width: 100px; height: 70px; object-fit: contain"
											class="img-thumbnail"
											[src]="imageUrl($any(data[key]))"
											loading="lazy"
										/>
									</div>

									}@else {
									<div style="width: 100px; height: 70px">
										<img
											style="width: 100px; height: 70px; object-fit: contain"
											class="img-thumbnail"
											src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg"
											loading="lazy"
										/>
									</div>

									} } @else {
									<span>
										{{ $any(data[key]) }}
									</span>
									}
								</td>

								}
								<!-- Buttons action -->
								<td class="text-center" style="width: 10%">
									<button
										type="button"
										[disabled]="
											(currentRole != 'SuperAdmin' && data.roleName == 'Admin') ||
											data.roleName == 'SuperAdmin'
										"
										class="btn btn-primary btn-sm m-1"
										data-bs-toggle="modal"
										[attr.data-bs-target]="'#assignRole' + data['id']"
									>
										<i class="fa-solid fa-sitemap" style="color: #fff"></i>
									</button>

									<!-- Modal -->
									<div class="modal fade" [id]="'assignRole' + data['id']" role="dialog">
										<div class="modal-dialog">
											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Assign Role</h5>
													<button
														type="button"
														#closebutton
														class="close"
														data-bs-dismiss="modal"
													>
														&times;
													</button>
												</div>
												<div class="modal-body">
													<div for="message-text " class="col-form-label text-start">
														Select role:
													</div>
													<input type="hidden" name="userId" />
													<select
														name="roleId"
														class="form-control"
														(change)="changeAssigRole($event)"
													>
														<option value="0">-- Select role --</option>
														@for (item of listRole | async; track $index) {
														@if(item.name!="SuperAdmin") { @if(item.name!="Admin" ||
														currentRole=="SuperAdmin"){
														<option
															value="{{ item.id }}"
															[selected]="data['roleId'] == item.id"
														>
															{{ item.name }}
														</option>

														}} }
													</select>
												</div>

												<div class="modal-footer">
													<button
														type="button"
														class="btn btn-primary"
														data-bs-dismiss="modal"
														(click)="submitRoleAssign(data['id'], data['roleId'])"
													>
														Assign
													</button>
												</div>
											</div>
										</div>
									</div>
									<button
										type="button"
										class="btn btn-sm btn-success m-1"
										(click)="showDetail($any(data['id']))"
									>
										<i class="fa-regular fa-eye" style="color: #ffffff"></i>
									</button>
									<button
										type="button"
										class="btn btn-sm btn-info m-1"
										[disabled]="
											data.roleName == 'SuperAdmin' ||
											(currentRole == 'Admin' && data.roleName == 'Admin')
										"
										(click)="onEditButtonClick(data)"
									>
										<i class="fa-solid fa-pen-to-square"></i>
									</button>
									<button
										type="button"
										class="btn btn-sm btn-danger m-1"
										data-bs-toggle="modal"
										[disabled]="
											data.roleName == 'SuperAdmin' ||
											(currentRole == 'Admin' && data.roleName == 'Admin')
										"
										data-bs-target="#modalConfirm"
										(click)="onDeleteButtonClick(data)"
									>
										<i class="fa-solid fa-trash"></i>
									</button>
								</td>
							</tr>
							} }
						</tbody>
						}
					</table>
				</div>

				<!-- Paging -->
				<div class="row justify-content-between">
					<div class="col-sm-12 col-md-5">
						<div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
							<app-show-entry [pageResult]="(pageResult | async)!" />
						</div>
					</div>
					<div class="col-sm-12 col-md-7">
						<div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
							<app-paging
								[pageResult]="(pageResult | async)!"
								(currentPageIndex)="getCurrentPage($event)"
							></app-paging>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
